<style>
  #shopify-section-{{ section.id }}{
  background:#EBF0F2;
  }
  footer .custom-footer {
  padding-top: 32px;
  padding-bottom: 48px;
  }
  footer .footer-columns {
  display: flex;
  width: 100%;
  gap:40px;
  }
  footer .footer-col.footer-info {
  width: 50%;
  }
  footer .footer-col {
  width: 25%;
  }
  footer .footer-info p {
  margin: 5px 0;
  font-size: 14px;
  }
  footer .footer-top {
  padding-bottom: calc(4px *5);
  border-bottom: 2px solid #fff;
  margin-bottom: 32px;
  }
  footer .footer-logo {
  max-width: 180px;
  margin-bottom: 15px;
  }
  footer .footer-menu,
  footer .policy-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  footer .footer-menu li {
  margin-bottom: 16px;
  line-height: 1;
  }
  footer .footer-menu a{
  color: #242424;
  text-decoration: none;
  font-size: 16px;
  }
  footer .footer-bottom {
  display: flex;
  flex-direction: column;
  }
  footer p a {
  text-decoration-color: #000;
  }
  footer .footer-menu a{
  transition:all 0.3s ease;
  }
  footer .footer-menu a:hover {
  text-decoration: underline;
  }
  footer .policy-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 10px;
  max-width: 450px;
  font-size: 12px;
  color: #242424;
  }
  footer .policy-menu a {
  text-decoration: underline;
  }
  footer .footer-bottom-right p {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  padding-top: calc(4px *5);
  }
  @media (max-width: 768px) {
  footer .footer-logo {
  max-width: 150px;
  }
  footer .footer-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  }
  footer .footer-col.footer-info {
  width: 100%;
  grid-column: span 2;
  }
  footer .footer-col {
  width: 100%;
  }
  }
</style>

<footer>
  <div class="custom-footer container">
    <div class="footer-top">
      <div class="footer-columns">
        <div class="footer-col footer-info">
          {% if section.settings.logo != blank %}
            <img src="{{ section.settings.logo | img_url: '200x' }}" alt="Logo" class="footer-logo" height="" width="">
          {% endif %}
          <div class="footer-text">
            <p><strong>Contact</strong></p>
            {% if section.settings.email != blank %}
              <p>
                <strong>Email:</strong> <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
              </p>
            {% endif %}
            {% if section.settings.phone != blank %}
              <p>
                <strong>Phone:</strong> <a href="tel:{{ section.settings.phone }}">{{ section.settings.phone }}</a>
              </p>
            {% endif %}
            {% if section.settings.address != blank %}
              <div class="footer-company-info">{{ section.settings.address }}</div>
            {% endif %}
          </div>
        </div>
        <div class="footer-col">
          {% if section.settings.menu_1 != blank %}
            <ul class="footer-menu">
              {% for link in linklists[section.settings.menu_1].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="footer-col">
          {% if section.settings.menu_2 != blank %}
            <ul class="footer-menu">
              {% for link in linklists[section.settings.menu_2].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="footer-bottom page-width">
      <div class="footer-bottom-left">
        {% if section.settings.policy_menu != blank %}
          <ul class="policy-menu">
            {% for link in linklists[section.settings.policy_menu].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="footer-bottom-right">
        <p>
          © {{ 'now' | date: '%Y' }}, <a href="{{ shop.url }}">{{ shop.name }}</a>. <br>
          Powered by Shopify
        </p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Address"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Footer Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Footer Menu 2"
    },
    {
      "type": "link_list",
      "id": "policy_menu",
      "label": "Policy Menu"
    }
  ]
}
{% endschema %}
