

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_gap = section.settings.body_gap

  assign content_horizontal_align_mobile = section.settings.content_horizontal_align_mobile
  assign content_horizontal_align = section.settings.content_horizontal_align
  assign content_vertical_align = section.settings.content_vertical_align
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical

  assign text_align = ""
  if content_horizontal_align == "start"
    assign text_align = "left"
  elsif content_horizontal_align == "center"
    assign text_align = "center"
  else
    assign text_align = "right"
  endif

  assign text_align_mobile = ""
  if content_horizontal_align_mobile == "start"
    assign text_align_mobile = "left"
  elsif content_horizontal_align_mobile == "center"
    assign text_align_mobile = "center"
  else
    assign text_align_mobile = "right"
  endif

  assign image = section.settings.image
  assign image_position_mobile = section.settings.image_position_mobile
  assign image_position = section.settings.image_position
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  
  
-%}

{%- style -%}
  .main-custom-left-text-custom-main-of-hall {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .circle-pink {
    width: 461px;
    height: 478px;
    position: absolute;
    right: -236px;
    top: -64px;
    border-radius: 478px;
    background: radial-gradient(38.07% 38.07% at 50% 50%, #c4a1bc, #fff);
    z-index: -1;
    display: block; 
  }
  .image-text-image-{{ section.id }} img {
    border-radius: 0px 30px 30px 0px;
  }
  .circle-brown {
    width: 653px;
    height: 653px;
    position: absolute;
    right: -40vh;
    bottom: -8vh;
    border-radius: 653px;
    background: radial-gradient(38.07% 38.07% at 50% 50%, #c7ad98, #fff);
    z-index: -1;
}
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .image-text-body-{{ section.id }} {
      display: grid;
      grid-template-columns: 1fr;
      gap: {{ body_gap_mobile }}px;
  }

  .image-text-content-{{ section.id }} {
      display: flex;
      flex-direction: column;
      padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
      overflow: hidden;
  }

  .image-text-content-top-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ content_horizontal_align_mobile }};
  }

  .image-text-image-{{ section.id }} img,
  .image-text-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-text-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .image-text-body-{{ section.id }} {
        gap: 0px;
        grid-template-columns: 1fr 1fr;
    }

    .image-text-content-{{ section.id }} {
        justify-content: {{ content_vertical_align }};
        padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .image-text-content-top-{{ section.id }} {
      align-items: {{ content_horizontal_align }};
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if image_position_mobile == "top" %}
    <style>
        .image-text-image-{{ section.id }} {
            order: 1;
        }

        .image-text-content-{{ section.id }} {
            order: 2;
        }
    </style>
{% else %}
    <style>
        .image-text-image-{{ section.id }} {
            order: 2;
        }

        .image-text-content-{{ section.id }} {
            order: 1;
        }
    </style>
{% endif %}

{% if image_position == "right" %}
  <style>
    @media(min-width: 1024px) {

      .image-text-image-{{ section.id }} {
          order: 2;
      }

      .image-text-content-{{ section.id }} {
          order: 1;
          padding-right: calc({{ body_gap }}px + {{ content_padding_horizontal }}px);
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {

      .image-text-image-{{ section.id }} {
          order: 1;
      }

      .image-text-content-{{ section.id }} {
          order: 2;
          padding-left: calc({{ body_gap }}px + {{ content_padding_horizontal }}px);
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .image-text-image-{{ section.id }} {
     aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .image-text-image-{{ section.id }}{
     aspect-ratio: 12/9; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .image-text-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .image-text-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .image-text-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .image-text-image-{{ section.id }}{
       aspect-ratio: 12/9; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .image-text-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .image-text-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
    {% if block.type == "heading" %}
        <style>
            {{  block.settings.heading_font | font_face: font_display: 'swap' }}
            
            .image-text-heading-{{ block.id }} {
                text-align: {{ text_align_mobile }};
                margin-top: {{ block.settings.heading_mt_mobile }}px;
            }

            .image-text-heading-{{ block.id }} * {
                margin: 0;
                font-size: {{ block.settings.heading_size_mobile }}px;
                color: {{ block.settings.heading_color }};
                line-height: {{ block.settings.heading_height }}%;
                text-transform: unset;
            }

            @media(min-width: 1024px) {
                
                .image-text-heading-{{ block.id }} {
                    text-align: {{ text_align }};
                    margin-top: {{ block.settings.heading_mt }}px;
                }

                .image-text-heading-{{ block.id }} * {
                    font-size: {{ block.settings.heading_size }}px;
                }
            }
        </style>

        {% if block.settings.heading_custom %}
            <style>
                .image-text-heading-{{ block.id }} * {
                    font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
                    font-weight: {{ block.settings.heading_font.weight }};
                    font-style: {{ block.settings.heading_font.style }};
                }
            </style>
        {% endif %}

    {% elsif block.type == "text" %}
        <style>
            {{ block.settings.text_font | font_face: font_display: 'swap' }}
            
            .image-text-text-{{ block.id }} {
                text-align: {{ text_align_mobile }};
                margin-top: {{ block.settings.text_mt_mobile }}px;
            }

            .image-text-text-{{ block.id }} * {
                margin: 0;
                font-size: {{ block.settings.text_size_mobile }}px;
                color: {{ block.settings.text_color }};
                line-height: {{ block.settings.text_height }}%;
                text-transform: unset;
            }

            @media(min-width: 1024px) {
                
                .image-text-text-{{ block.id }} {
                    text-align: {{ text_align }};
                    margin-top: {{ block.settings.text_mt }}px;
                }

                .image-text-text-{{ block.id }} * {
                    font-size: {{ block.settings.text_size }}px;
                }
            }
        </style>

        {% if block.settings.text_custom %}
            <style>
                .image-text-text-{{ block.id }} {
                    font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
                    font-weight: {{ block.settings.text_font.weight }};
                    font-style: {{ block.settings.text_font.style }};
                }
            </style>
        {% endif %}

    {% elsif block.type == "button" %}

        <style>

          {{  block.settings.button_font | font_face: font_display: 'swap' }}
          
          .image-text-button-{{ block.id }} {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            max-width: fit-content;
            margin: 0;
            margin-top: {{ block.settings.button_mt_mobile }}px;
            font-size: {{ block.settings.button_size_mobile }}px;
            color: {{ block.settings.button_color }};
            line-height: {{ block.settings.button_height }}%;
            text-align: center;
            text-transform: unset;
            text-decoration: none;
            padding: {{ block.settings.button_padding_vertical_mobile }}px {{ block.settings.button_padding_horizontal_mobile }}px;
            border-radius: {{ block.settings.button_radius }}px;
            transition: all 0.25s ease 0s;
            position: relative;
            font-weight: 700;
            z-index: 2;
            min-width: 200px;
            font-size: 16px !important;
          }

          .image-text-button-{{ block.id }}:hover {
            color: {{ block.settings.button_hover_color }};
            transition: all 0.25s ease 0s;
          }

          .image-text-button-{{ block.id }} svg {
            width: 14px;
            height: 14px;
          }

          .image-text-button-{{ block.id }} svg path {
            fill: {{ block.settings.button_color }};
            transition: all 0.25s ease 0s;
          }

          .image-text-button-{{ block.id }}:hover svg path {
            fill: {{ block.settings.button_hover_color }};
            transition: all 0.25s ease 0s;
          }

          @media(min-width: 1024px) {
            .image-text-button-{{ block.id }} {
                margin-top: {{ block.settings.button_mt }}px;
                padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
                font-size: {{ block.settings.button_size }}px;
            }
          }
        </style>

        {% if block.settings.button_custom %}
            <style>
              .image-text-button-{{ block.id }} {
                  font-family: {{ block.settings.button_font.family }}, {{ block.settings.button_font.fallback_families }};
                  font-weight: {{ block.settings.button_font.weight }};
                  font-style: {{ block.settings.button_font.style }};
              }
            </style>
        {% endif %}

        {% if block.settings.button_style == "non_outline" or block.settings.button_style == "non_outline_arrow" %}
            <style>
              .image-text-button-{{ block.id }} {
                  background-color: {{ block.settings.button_bg_color }};
              }
  
              .image-text-button-{{ block.id }}:hover {
                  background-color: {{ block.settings.button_bg_hover_color }};
              }
            </style>
        {% elsif block.settings.button_style == "outline" or block.settings.button_style == "outline_arrow" %}
            <style>
              .image-text-button-{{ block.id }} {
                  background-color: {{ block.settings.button_bg_color }};
                  border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
              }
  
              .image-text-button-{{ block.id }}:hover {
                  background-color: {{ block.settings.button_bg_hover_color }};
                  border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
              }
            </style>
        {% elsif block.settings.button_style == "link" %}
            <style>
                .image-text-button-{{ block.id }} {
                    max-width: fit-content;
                    padding: 0px;
                }
            </style>
        {% endif %}

    {% elsif block.type == "scrolling" %}

      <style>
        
        {{ block.settings.text_font | font_face: font_display: 'swap' }}
        
        .image-text-scrolling-wrap-{{ block.id }} {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          overflow: hidden;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          background-attachment: scroll !important;
          margin-left: -{{ content_padding_horizontal_mobile }}px;
          margin-right: -{{ content_padding_horizontal_mobile }}px;
        }
      
        .image-text-scrolling-list-{{ block.id }} {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          white-space: nowrap;
          background-attachment: scroll !important;
          -webkit-animation: ticker{{ block.id | replace: '-', '' }} {{ block.settings.scrolling_velocity_mobile }}s infinite linear;
          animation: ticker{{ block.id | replace: '-', '' }} {{ block.settings.scrolling_velocity_mobile }}s infinite linear;
          flex-shrink: 0;
        }
      
        .image-text-scrolling-item-{{ block.id }} {
          display: flex;
          align-items: center;
          background-attachment: scroll !important;
          margin-right: {{ block.settings.scrolling_gap_mobile }}px;
          flex-shrink: 0;
        }
      
        .image-text-scrolling-text-{{ block.id }} {
          display: inline-block;
          margin: 0;
          font-size: {{ block.settings.text_size_mobile }}px;
          color: {{ block.settings.text_color }};
          line-height: 130%;
          text-transform: unset;
          margin-right: {{ block.settings.text_mr_mobile }}px;
          font-weight: 700;
        }

        .image-text-scrolling-icon-{{ block.id }} {
          display: inline-block;
          width: {{ block.settings.icon_size_mobile }}px;
        }

        .image-text-scrolling-icon-{{ block.id }} img,
        .image-text-scrolling-icon-{{ block.id }} svg {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .image-text-scrolling-icon-{{ block.id }} svg {
          margin-top: {{ block.settings.text_size_mobile | times: 0.125 | round: 0 }}px;
        }

        .image-text-scrolling-icon-{{ block.id }} svg path {
          fill: {{ block.settings.icon_color }};
        }
  
        @media(min-width: 1024px) {

          .image-text-scrolling-wrap-{{ block.id }} {
            margin-left: -{{ content_padding_horizontal | plus: body_gap }}px;
            margin-right: -{{ content_padding_horizontal | plus: body_gap }}px;
          }
          
          .image-text-scrolling-list-{{ block.id }} {
            animation-duration: {{ block.settings.scrolling_velocity }}s;
          }
      
          .image-text-scrolling-item-{{ block.id }} {
            margin-right: {{ block.settings.scrolling_gap }}px;
            margin-bottom: {{ block.settings.scrolling_mb }}px;
          }
          
          .image-text-scrolling-text-{{ block.id }} {
            font-size: {{ block.settings.text_size }}px;
            margin-right: {{ block.settings.text_mr }}px;
          }

          .image-text-scrolling-icon-{{ block.id }} {
            width: {{ block.settings.icon_size }}px;
          }

          .image-text-scrolling-icon-{{ block.id }} svg {
            margin-top: {{ block.settings.text_size | times: 0.125 | round: 0 }}px;
          }
        }
      </style>
  
      {% if block.settings.text_custom %}
        <style>
          .image-text-scrolling-text-{{ block.id }} {
            font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
            font-weight: {{ block.settings.text_font.weight }};
            font-style: {{ block.settings.text_font.style }};
          }
        </style>
      {% endif %}

      {% if block.settings.reverse_direction %}
        <style>
          @keyframes ticker{{ block.id | replace: '-', '' }} {
            0% {
              transform: translateX(-50%);
            }
            100% {
              transform: translateX(0%);
            }
          }
        </style>
      {% else %}
        <style>
          @keyframes ticker{{ block.id | replace: '-', '' }} {
            0% {
              transform: translateX(0%);
            }
            100% {
              transform: translateX(-50%);
            }
          }
        </style>
      {% endif %}

      {% if block.settings.animate_icon %}
        <style>
          .image-text-scrolling-icon-{{ block.id }} img,
          .image-text-scrolling-icon-{{ block.id }} svg {
            -webkit-animation: rotate{{ block.id | replace: '-', '' }} 10s infinite linear;
            animation: rotate{{ block.id | replace: '-', '' }} 10s infinite linear;
          }
          
          @keyframes rotate{{ block.id | replace: '-', '' }} {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        </style>
      {% endif %}

      {% if block.settings.scrolling_type == "horizontal" %}
        <style>
          .image-text-scrolling-wrap-{{ block.id }} {
            margin-top: {{ block.settings.scrolling_mt_mobile }}px;
          }

          @media(min-width: 1024px) {
            .image-text-scrolling-wrap-{{ block.id }} {
              margin-top: {{ block.settings.scrolling_mt }}px;
            }

            .image-text-content-{{ section.id }} {
              justify-content: space-between !important;
            }
          }
        </style>
      {% else %}

        <style>
          .image-text-scrolling-wrap-{{ block.id }} {
            margin-top: {{ block.settings.scrolling_mt_mobile }}px;
          }
        </style>

        {% if image_position == "right" %}
          <style>
            @media(min-width: 1024px) {
              .image-text-content-{{ section.id }} {
                position: relative;
                padding-right: calc({{ body_gap }}px + {{ content_padding_horizontal }}px + 70px);
              }

              .image-text-scrolling-wrap-{{ block.id }} {
                margin: 0px;
                pointer-events: none;
                transform: rotate(-90deg);
                position: absolute;
                top: 0;
                {% if image_ratio == "square" %}
                  width: 100%;
                  right: 0;
                  height: 100%;
                {% elsif image_ratio == "portrait" %}
                  width: 241%;
                  left: -26%;
                {% elsif image_ratio == "landscape" %}
                  width: 100%;
                  height: 100%;
                {% endif %}
              }

              {% if image_ratio == "square" or image_ratio == "landscape" %}
                .image-text-scrolling-list-{{ block.id }} {
                   align-items: end;
                }
              {% endif %}
            }
          </style>
        {% else %}
          <style>
            @media(min-width: 1024px) {
              .image-text-content-{{ section.id }} {
                position: relative;
                padding-left: calc({{ body_gap }}px + {{ content_padding_horizontal }}px + 70px);
              }

              .image-text-scrolling-wrap-{{ block.id }} {
                margin: 0px;
                pointer-events: none;
                transform: rotate(90deg);
                position: absolute;
                top: 0;
                {% if image_ratio == "square" %}
                  width: 100%;
                  left: 0;
                  height: 100%;
                {% elsif image_ratio == "portrait" %}
                  width: 250%;
                  left: -118%
                {% elsif image_ratio == "landscape" %}
                  width: 178%;
                  left: -50%;
                  height: 100%;
                {% endif %}
              }

              {% if image_ratio == "square" or image_ratio == "landscape" %}
                .image-text-scrolling-list-{{ block.id }} {
                   align-items: end;
                }
              {% endif %}
            }
          </style>
        {% endif %}
        
      {% endif %}
        
    {% endif %}

{% endfor %}

<style> 
   @media only screen and (max-width: 700px) {
    .circle-brown {
      display: none !important;
    }
    .circle-pink {
      display: none !important;
    }
  }
  @media screen and (min-width: 1000px) {
    .image-with-text-block__image.custom-tsf-class-included {
      object-fit: inherit !important;
    }
}
</style>
<div class="section-{{ section.id }} image-text-{{ section.id }}" style="background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="image-text-body-{{ section.id }}">
        <div class="image-text-content-{{ section.id }}" style="position: relative;">
          <div class="circle-brown"></div>
          <div class="image-text-content-top-{{ section.id }}">
            {% for block in section.blocks %}
  
                {% if block.type == "heading" %}
  
                    <div class="image-text-heading-{{ block.id }}">
                        {{ block.settings.heading }}
                    </div>
  
                {% elsif block.type == "text" %}
  
                    <div class="image-text-text-{{ block.id }}">
                        {{ block.settings.text }}
                    </div>
  
                {% elsif block.type == "button" %}
  
                    {% if block.settings.button != blank %}
                        <a href="{{ block.settings.button_url }}" class="image-text-button-{{ block.id }}">
                            {{ block.settings.button }}
                            {% if block.settings.button_style == "non_outline_arrow" or block.settings.button_style == "outline_arrow" %}
                                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                                <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                                </svg>
                            {% endif %}
                        </a>
                    {% endif %}   
  
                {% endif %}
              {% endfor %}
            </div>
          
            {% for block in section.blocks %}
              {% if block.type == "scrolling" %}
                <div class="image-text-content-bottom-{{ section.id }}">
                  <div class="image-text-scrolling-wrap-{{ block.id }}">
                    <div class="image-text-scrolling-list-{{ block.id }}">
                      {% for item in (1..10) %}
                        <div class="image-text-scrolling-item-{{ block.id }}">
                          {% if block.settings.text != blank %}
                            <p class="image-text-scrolling-text-{{ block.id }}">{{ block.settings.text }}</p>
                          {% endif %}
                          {% unless block.settings.hide_icon %}
                            <div class="image-text-scrolling-icon-{{ block.id }}">
                              {% if block.settings.icon != blank %}
                                <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.icon }}" {% if lazy %}loading="lazy"{% endif %}>
                              {% else %}
                                <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.72 25.72"><path d="M12.38.41c.07-.55.87-.55.94,0l.6,4.73c.07.45.66.57.89.18l2.37-4.14c.28-.48,1.01-.18.87.36l-1.25,4.6c-.12.44.39.78.75.5l3.77-2.92c.44-.34,1,.23.67.67l-2.92,3.76c-.28.36.06.87.5.75l4.6-1.25c.54-.14.84.6.36.87l-4.14,2.37c-.39.23-.27.82.18.88l4.73.61c.55.07.55.87,0,.94l-4.73.6c-.26.02-.46.24-.44.5.01.17.11.32.26.39l4.14,2.37c.48.28.18,1.01-.36.87l-4.6-1.25c-.25-.08-.51.06-.59.31-.05.15-.01.32.09.44l2.92,3.77c.34.44-.23,1-.67.67l-3.77-2.92c-.2-.17-.5-.14-.66.06-.1.12-.14.29-.09.44l1.25,4.6c.14.54-.6.84-.87.36l-2.37-4.14c-.12-.23-.41-.31-.64-.19-.14.07-.23.21-.24.37l-.61,4.73c-.07.55-.87.55-.94,0l-.6-4.73c-.02-.26-.24-.46-.5-.44-.17.01-.32.11-.39.26l-2.37,4.16c-.28.48-1.01.18-.87-.36l1.25-4.6c.08-.25-.06-.51-.31-.59-.15-.05-.32-.01-.44.09l-3.77,2.92c-.44.34-1-.23-.67-.67l2.92-3.77c.17-.2.14-.5-.06-.66-.12-.1-.29-.14-.44-.09l-4.59,1.23c-.54.14-.84-.6-.36-.87l4.14-2.37c.23-.12.31-.41.19-.64-.07-.14-.21-.23-.37-.24l-4.73-.61c-.55-.07-.55-.87,0-.94l4.73-.6c.26-.02.46-.24.44-.5-.01-.17-.11-.32-.26-.39l-4.15-2.36c-.48-.28-.18-1.01.36-.87l4.6,1.25c.44.12.78-.39.5-.75l-2.92-3.77c-.34-.44.23-1,.67-.67l3.76,2.93c.36.28.87-.06.75-.5l-1.24-4.6c-.14-.54.6-.84.87-.36l2.37,4.14c.23.39.82.27.88-.18l.61-4.73h0Z" style="stroke-width:0px;"/></svg>
                              {% endif %}
                            </div>
                          {% endunless %}
                        </div>
                      {% endfor %}
                    </div>
                    <div class="image-text-scrolling-list-{{ block.id }}">
                      {% for item in (1..10) %}
                        <div class="image-text-scrolling-item-{{ block.id }}">
                          {% if block.settings.text != blank %}
                            <p class="image-text-scrolling-text-{{ block.id }}">{{ block.settings.text }}</p>
                          {% endif %}
                          {% unless block.settings.hide_icon %}
                            <div class="image-text-scrolling-icon-{{ block.id }}">
                              {% if block.settings.icon != blank %}
                                <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.icon }}" {% if lazy %}loading="lazy"{% endif %}>
                              {% else %}
                                <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.72 25.72"><path d="M12.38.41c.07-.55.87-.55.94,0l.6,4.73c.07.45.66.57.89.18l2.37-4.14c.28-.48,1.01-.18.87.36l-1.25,4.6c-.12.44.39.78.75.5l3.77-2.92c.44-.34,1,.23.67.67l-2.92,3.76c-.28.36.06.87.5.75l4.6-1.25c.54-.14.84.6.36.87l-4.14,2.37c-.39.23-.27.82.18.88l4.73.61c.55.07.55.87,0,.94l-4.73.6c-.26.02-.46.24-.44.5.01.17.11.32.26.39l4.14,2.37c.48.28.18,1.01-.36.87l-4.6-1.25c-.25-.08-.51.06-.59.31-.05.15-.01.32.09.44l2.92,3.77c.34.44-.23,1-.67.67l-3.77-2.92c-.2-.17-.5-.14-.66.06-.1.12-.14.29-.09.44l1.25,4.6c.14.54-.6.84-.87.36l-2.37-4.14c-.12-.23-.41-.31-.64-.19-.14.07-.23.21-.24.37l-.61,4.73c-.07.55-.87.55-.94,0l-.6-4.73c-.02-.26-.24-.46-.5-.44-.17.01-.32.11-.39.26l-2.37,4.16c-.28.48-1.01.18-.87-.36l1.25-4.6c.08-.25-.06-.51-.31-.59-.15-.05-.32-.01-.44.09l-3.77,2.92c-.44.34-1-.23-.67-.67l2.92-3.77c.17-.2.14-.5-.06-.66-.12-.1-.29-.14-.44-.09l-4.59,1.23c-.54.14-.84-.6-.36-.87l4.14-2.37c.23-.12.31-.41.19-.64-.07-.14-.21-.23-.37-.24l-4.73-.61c-.55-.07-.55-.87,0-.94l4.73-.6c.26-.02.46-.24.44-.5-.01-.17-.11-.32-.26-.39l-4.15-2.36c-.48-.28-.18-1.01.36-.87l4.6,1.25c.44.12.78-.39.5-.75l-2.92-3.77c-.34-.44.23-1,.67-.67l3.76,2.93c.36.28.87-.06.75-.5l-1.24-4.6c-.14-.54.6-.84.87-.36l2.37,4.14c.23.39.82.27.88-.18l.61-4.73h0Z" style="stroke-width:0px;"/></svg>
                              {% endif %}
                            </div>
                          {% endunless %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
        <div class="image-text-image-{{ section.id }}" style="position: relative;">
          <div class="circle-pink"></div>
          {% if image != blank %}
            <img src="{{ image | image_url }}" alt="{{ image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
          {% else %}
            {{ 'image' | placeholder_svg_tag }}
          {% endif %}
        </div>
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SS - Image With Text #14",
    "settings": [
      {
          "type": "header",
          "content": "Body Settings"
      },
      {
          "type": "range",
          "id": "body_gap",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Body Gap",
          "default": 48
      },
      {
          "type": "range",
          "id": "body_gap_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Body Gap - Mobile",
          "default": 0
      },
      {
          "type": "header",
          "content": "Content Settings"
      },
      {
          "type": "select",
          "id": "content_horizontal_align",
          "label": "Content Horizontal Align",
          "default": "start",
          "options": [
              {
                  "label": "Left",
                  "value": "start"
              },
              {
                  "label": "Center",
                  "value": "center"
              },
              {
                  "label": "Right",
                  "value": "end"
              }
          ]
      },
      {
          "type": "select",
          "id": "content_horizontal_align_mobile",
          "label": "Content Horizontal Align - Mobile",
          "default": "start",
          "options": [
              {
                  "label": "Left",
                  "value": "start"
              },
              {
                  "label": "Center",
                  "value": "center"
              },
              {
                  "label": "Right",
                  "value": "end"
              }
          ]
      },
      {
          "type": "select",
          "id": "content_vertical_align",
          "info": "If there is no Scrolling or Scrolling is Vertical Direction",
          "label": "Content Vertical Align - Desktop",
          "default": "end",
          "options": [
              {
                  "label": "Top",
                  "value": "start"
              },
              {
                  "label": "Center",
                  "value": "center"
              },
              {
                  "label": "Bottom",
                  "value": "end"
              }
          ]
      },
      {
        "type": "range",
        "id": "content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Content Padding Vertical",
        "default": 32
      },
      {
        "type": "range",
        "id": "content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Content Padding Vertical - Mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "content_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Content Padding Horizontal",
         "default": 32
      },
      {
         "type": "range",
         "id": "content_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Content Padding Horizontal - Mobile",
         "default": 16
      },
      {
          "type": "header",
          "content": "Image Settings"
      },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "select",
          "id": "image_position",
          "label": "Image Position - Desktop",
          "default": "right",
          "options": [
          {
              "label": "Left",
              "value": "left"
          },
          {
              "label": "Right",
              "value": "right"
          }
          ]
      },
      {
          "type": "select",
          "id": "image_position_mobile",
          "label": "Image Position - Mobile",
          "default": "top",
          "options": [
          {
              "label": "Top",
              "value": "top"
          },
          {
              "label": "Bottom",
              "value": "bottom"
          }
          ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 52
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 52
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
        {
            "type": "heading",
            "limit": 1,
            "name": "Heading",
            "settings": [
                {
                    "type": "richtext",
                    "id": "heading",
                    "label": "Heading",
                    "default": "<h2>Heading</h2>"
                },
                {
                    "type": "checkbox",
                    "id": "heading_custom",
                    "label": "Use Custom Font",
                    "default": false
                },
                {
                    "type": "font_picker",
                    "id": "heading_font",
                    "label": "Heading Font Family",
                    "default": "josefin_sans_n4"
                },
                {
                    "type": "range",
                    "id": "heading_size",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Heading Size",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "heading_size_mobile",
                    "min": 0,
                    "max": 72,
                    "step": 1,
                    "unit": "px",
                    "label": "Heading Size - Mobile",
                    "default": 26
                },
                {
                    "type": "range",
                    "id": "heading_height",
                    "min": 50,
                    "max": 200,
                    "step": 10,
                    "unit": "%",
                    "label": "Heading Line Height",
                    "default": 130
                },
                {
                    "type": "range",
                    "id": "heading_mt",
                    "min": 0,
                    "max": 100,
                    "step": 2,
                    "unit": "px",
                    "label": "Heading Margin Top",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "heading_mt_mobile",
                    "min": 0,
                    "max": 100,
                    "step": 2,
                    "unit": "px",
                    "label": "Heading Margin Top - Mobile",
                    "default": 0
                },
                {
                    "type": "color",
                    "id": "heading_color",
                    "label": "Heading Color",
                    "default": "#000000"
                }
            ]
        },
        {
            "type": "text",
            "limit": 1,
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Text</p>"
                },
                {
                    "type": "checkbox",
                    "id": "text_custom",
                    "label": "Use Custom Font",
                    "default": false
                },
                {
                    "type": "font_picker",
                    "id": "text_font",
                    "label": "Text Font Family",
                    "default": "josefin_sans_n4"
                },
                {
                    "type": "range",
                    "id": "text_size",
                    "min": 0,
                    "max": 72,
                    "step": 1,
                    "unit": "px",
                    "label": "Text Size",
                    "default": 16
                },
                {
                    "type": "range",
                    "id": "text_size_mobile",
                    "min": 0,
                    "max": 72,
                    "step": 1,
                    "unit": "px",
                    "label": "Text Size - Mobile",
                    "default": 14
                },
                {
                    "type": "range",
                    "id": "text_mt",
                    "min": 0,
                    "max": 100,
                    "step": 2,
                    "unit": "px",
                    "label": "Text Margin Top",
                    "default": 24
                },
                {
                    "type": "range",
                    "id": "text_mt_mobile",
                    "min": 0,
                    "max": 100,
                    "step": 2,
                    "unit": "px",
                    "label": "Text Margin Top - Mobile",
                    "default": 16
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text Color",
                    "default": "#000000"
                }
            ]
        },
        {
            "type": "button",
            "limit": 1,
            "name": "Button",
            "settings": [
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "button",
                "label": "Button Text",
                "default": "LEARN MORE"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            },
            {
                "type": "checkbox",
                "id": "button_custom",
                "label": "Use Custom Font",
                "default": false
            },
            {
                "type": "font_picker",
                "id": "button_font",
                "label": "Button Font Family",
                "default": "josefin_sans_n4"
            },
            {
                "type": "range",
                "id": "button_size",
                "min": 0,
                "max": 40,
                "step": 1,
                "unit": "px",
                "label": "Button Size",
                "default": 13
            },
            {
                "type": "range",
                "id": "button_size_mobile",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "px",
                "label": "Button Size - Mobile",
                "default": 13
            },
            {
                "type": "range",
                "id": "button_height",
                "min": 50,
                "max": 200,
                "step": 10,
                "unit": "%",
                "label": "Button Line Height",
                "default": 100
            },
            {
                "type": "range",
                "id": "button_mt",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Margin Top",
                "default": 24
            },
            {
                "type": "range",
                "id": "button_mt_mobile",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Margin Top - Mobile",
                "default": 24
            },
            {
                "type": "range",
                "id": "button_padding_vertical",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Padding Vertical",
                "default": 12
            },
            {
                "type": "range",
                "id": "button_padding_vertical_mobile",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Padding Vertical - Mobile",
                "default": 12
            },
            {
                "type": "range",
                "id": "button_padding_horizontal",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Padding Horizontal",
                "default": 30
            },
            {
                "type": "range",
                "id": "button_padding_horizontal_mobile",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Padding Horizontal - Mobile",
                "default": 30
            },
            {
                "type": "range",
                "id": "button_radius",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "Button Roundness",
                "default": 100
            },
            {
                "type": "range",
                "id": "button_border_thickness",
                "min": 0,
                "max": 10,
                "step": 1,
                "unit": "px",
                "label": "Button Border Thickness",
                "default": 1
            },
            {
                "type": "select",
                "id": "button_style",
                "label": "Button Style",
                "default": "outline",
                "options": [
                {
                    "label": "Link",
                    "value": "link"
                },
                {
                    "label": "Non-Outline",
                    "value": "non_outline"
                },
                {
                    "label": "Non-Outline & Arrow",
                    "value": "non_outline_arrow"
                },
                {
                    "label": "Outline",
                    "value": "outline"
                },
                {
                    "label": "Outline & Arrow",
                    "value": "outline_arrow"
                }
                ]
            },
            {
                "type": "header",
                "content": "Button Colors"
            },
            {
                "type": "color",
                "label": "Button Text Color",
                "id": "button_color",
                "default": "#000000"
            },
            {
                "type": "color",
                "label": "Button Hover Text Color",
                "id": "button_hover_color",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "label": "Button Background Color",
                "id": "button_bg_color"
            },
            {
                "type": "color",
                "label": "Button Background Hover Color",
                "id": "button_bg_hover_color",
                "default": "#000000"
            },
            {
                "type": "color",
                "label": "Button Border Color",
                "id": "button_border_color",
                "default": "#000000"
            },
            {
                "type": "color",
                "label": "Button Border Hover Color",
                "id": "button_border_hover_color",
                "default": "#000000"
            }
        ]
      },
      {
        "type": "scrolling",
        "limit": 1,
        "name": "Scrolling Text",
        "settings": [
          {
            "type": "header",
            "content": "Scrolling Settings",
             "info": "The theme editor may display incorrect scrolling speed; please verify on the live site."
          },
          {
            "type": "range",
            "id": "scrolling_velocity",
            "min": 10,
            "max": 150,
            "step": 2,
            "label": "Scrolling Speed",
            "info": " <----------------> ",
            "default": 20
          },
          {
            "type": "range",
            "id": "scrolling_velocity_mobile",
            "min": 10,
            "max": 150,
            "step": 2,
            "label": "Scrolling Speed Mobile",
            "info": " <----------------> ",
            "default": 32
          },
          {
             "type": "range",
             "id": "scrolling_gap",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Scrolling Gap",
             "default": 16
          },
          {
             "type": "range",
             "id": "scrolling_gap_mobile",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Scrolling Gap - Mobile",
             "default": 16
          },
          {
             "type": "range",
             "id": "scrolling_mt",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Scrolling Margin Top",
             "default": 16
          },
          {
             "type": "range",
             "id": "scrolling_mt_mobile",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Scrolling Margin Top - Mobile",
             "default": 16
          },
          {
             "type": "range",
             "id": "scrolling_mb",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Scrolling Margin Bottom / Side - Desktop",
             "default": 12
          },
          {
            "type": "select",
            "id": "scrolling_type",
            "label": "Scrolling Type - Desktop",
            "default": "vertical",
            "options": [
              {
                "label": "Horizontal",
                "value": "horizontal"
              },
              {
                "label": "Vertical",
                "value": "vertical"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "reverse_direction",
            "label": "Reverse the Scrolling Direction"
          },
          {
              "type": "header",
              "content": "Text Settings"
          },
          {
              "type": "text",
              "id": "text",
              "label": "Text",
              "default": "just in"
          },
          {
              "type": "checkbox",
              "id": "text_custom",
              "label": "Use Custom Font",
              "default": false
          },
          {
              "type": "font_picker",
              "id": "text_font",
              "label": "Text Font Family",
              "default": "josefin_sans_n4"
          },
          {
              "type": "range",
              "id": "text_size",
              "min": 0,
              "max": 72,
              "step": 2,
              "unit": "px",
              "label": "Text Size",
              "default": 60
          },
          {
              "type": "range",
              "id": "text_size_mobile",
              "min": 0,
              "max": 72,
              "step": 2,
              "unit": "px",
              "label": "Text Size - Mobile",
              "default": 40
          },
          {
              "type": "range",
              "id": "text_mr",
              "min": 0,
              "max": 100,
              "step": 2,
              "unit": "px",
              "label": "Text Margin Right",
              "default": 16
          },
          {
              "type": "range",
              "id": "text_mr_mobile",
              "min": 0,
              "max": 100,
              "step": 2,
              "unit": "px",
              "label": "Text Margin Right - Mobile",
              "default": 16
          },
          {
              "type": "header",
              "content": "Icon Settings"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Custom Icon"
          },
          {
              "type": "range",
              "id": "icon_size",
              "min": 0,
              "max": 100,
              "step": 2,
              "unit": "px",
              "label": "Icon Size",
              "default": 32
          },
          {
              "type": "range",
              "id": "icon_size_mobile",
              "min": 0,
              "max": 100,
              "step": 2,
              "unit": "px",
              "label": "Icon Size - Mobile",
              "default": 32
          },
          {
            "type": "checkbox",
            "id": "animate_icon",
            "label": "Animate Icon",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "hide_icon",
            "label": "Hide Icon"
          },
          {
            "type": "header",
            "content": "Scrolling Colors"
          },
          {
            "type": "color",
            "label": "Text Color",
            "id": "text_color",
            "default": "#121212"
          },
          {
            "type": "color",
            "label": "Icon Color",
            "id": "icon_color",
            "default": "#121212"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "New Image with text",
        "blocks": [
            {
                "type": "heading",
                "settings": {
                    "heading": "<h2>Heading</h2>"
                }
            },
            {
                "type": "text",
                "settings": {
                    "text": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
                }
            },
            {
                "type": "button",
                "settings": {
                  "button": "LEARN MORE"
                }
            },
            {
                "type": "scrolling"
            }
        ]
      }
    ]
  }
{% endschema %}

