

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign layout_gap_mobile = section.settings.layout_gap_mobile
  assign layout_gap = section.settings.layout_gap
  assign layout_bg_color = section.settings.layout_bg_color
  assign layout_padding_vertical_mobile = section.settings.layout_padding_vertical_mobile
  assign layout_padding_vertical = section.settings.layout_padding_vertical
  assign layout_padding_horizontal = section.settings.layout_padding_horizontal
  assign layout_padding_horizontal_mobile = section.settings.layout_padding_horizontal_mobile
  assign layout_border_color = section.settings.layout_border_color
  assign layout_border_thickness = section.settings.layout_border_thickness
  assign layout_radius = section.settings.layout_radius

  assign card_padding_vertical_mobile = section.settings.card_padding_vertical_mobile
  assign card_padding_vertical = section.settings.card_padding_vertical
  assign card_padding_horizontal = section.settings.card_padding_horizontal
  assign card_padding_horizontal_mobile = section.settings.card_padding_horizontal_mobile
  assign card_border_color = section.settings.card_border_color
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_radius = section.settings.card_radius
  assign card_image_ratio_mobile = section.settings.card_image_ratio_mobile
  assign card_image_ratio = section.settings.card_image_ratio

  assign content_vertical_align_mobile = section.settings.content_vertical_align_mobile
  assign content_vertical_align = section.settings.content_vertical_align

  assign overlay = section.settings.overlay
  assign overlay_color = section.settings.overlay_color

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height
  assign title_align = section.settings.title_align
  assign title_align_mobile = section.settings.title_align_mobile

  assign button_align = section.settings.button_align
  assign button_align_mobile = section.settings.button_align_mobile
  assign button_mt = section.settings.button_mt
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_shadow = section.settings.button_shadow
  assign button_shadow_color = section.settings.button_shadow_color
  assign button_icon = section.settings.button_icon
  assign button_gap = section.settings.button_gap
  assign button_ellipse = section.settings.button_ellipse
  
-%}

{%- style -%}

  {{  title_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .image-grid-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: {{ layout_gap_mobile }}px;
    background-color: {{ layout_bg_color }};
    padding: {{ layout_padding_vertical_mobile }}px {{ layout_padding_horizontal_mobile }}px;
    border: {{ layout_border_thickness }}px solid {{ layout_border_color }};
    border-radius: {{ layout_radius }}px;
    overflow: hidden;
  }

  .image-item-{{ section.id }} {
    display: flex;
    flex-direction: column;
    justify-content: {{ content_vertical_align_mobile }};
    padding: {{ card_padding_vertical_mobile }}px {{ card_padding_horizontal_mobile }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    border-radius: {{ card_radius }}px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }

  .image-item-{{ section.id }}:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: {{ overlay_color | hex_to_rgba: overlay }};
    z-index: 1;
  }

  .image-bg-{{ section.id }} {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .image-bg-{{ section.id }} img,
  .image-bg-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-bg-{{ section.id }} svg {
    background-color: #DEDEDE;
  }

  .image-title-{{ section.id }} {
    text-align: {{ title_align_mobile }};
    position: relative;
    z-index: 2;
  }

  .image-title-{{ section.id }} * {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
  }

  .image-button-{{ section.id }} {
    margin: 0px;
    margin-top: {{ button_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ button_size_mobile }}px;
    font-weight: 700;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-transform: unset;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical | times: 0.75 | round: 0 }}px {{ button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ button_radius }}px;
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    background-color: {{ button_bg_color }};
    gap: {{ button_gap | times: 0.75 | round: 0 }}px;
    transition: all 0.25s ease 0s;
    position: relative;
    z-index: 2;
  }

  .image-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    background-color: {{ button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .image-button-icon-{{ section.id }} {
    display: block;
    width: 20px;
    height: 20px;
  }

  .image-button-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-button-{{ section.id }} svg path {
    stroke: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .image-button-{{ section.id }}:hover svg path {
    stroke: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 768px) {
    .image-grid-{{ section.id }} {
      grid-template-columns: repeat({{ section.blocks.size | times: 0.5 | round: 0 }}, 1fr);
    }
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .image-grid-{{ section.id }} {
      grid-template-columns: repeat({{ section.blocks.size }}, 1fr);
      gap: {{ layout_gap }}px;
      padding: {{ layout_padding_vertical }}px {{ layout_padding_horizontal }}px;
    }

    .image-item-{{ section.id }} {
      padding: {{ card_padding_vertical }}px {{ card_padding_horizontal }}px;
      justify-content: {{ content_vertical_align }};
    }

    .image-title-{{ section.id }} {
      text-align: {{ title_align }};
    }

    .image-title-{{ section.id }} * {
      font-size: {{ title_size }}px;
    }

    .image-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      gap: {{ button_gap }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if title_custom %}
  <style>
    .image-title-{{ section.id }} * {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .image-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if button_shadow %}
  <style>
    .image-button-{{ section.id }} {
      box-shadow: 0 8px 16px 2px {{ button_shadow_color | hex_to_rgba: 0.33 }};
    }
  </style>
{% endif %}

{% if button_ellipse %}
  <style>
    .image-button-{{ section.id }} {
      border-radius: 100% / 100%;
    }
  </style>
{% endif %}

{% if button_align_mobile == "center" %}
  <style>
   .image-button-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>
{% elsif button_align_mobile == "right" %}
  <style>
   .image-button-{{ section.id }} {
      margin-left: auto;
    } 
  </style>
{% endif %}

{% if button_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .image-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: auto !important;
      } 
    }
  </style>
{% elsif button_align == "right" %}
  <style>
    @media(min-width: 1024px) {
     .image-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
     .image-button-{{ section.id }} {
        margin-left: 0px !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% endif %}

{% if card_image_ratio_mobile == "portrait" %}
  <style>
    .image-item-{{ section.id }} {
     aspect-ratio: 9.6/14; 
    }
  </style>
{% elsif card_image_ratio_mobile == "landscape" %}
  <style>
    .image-item-{{ section.id }}{
     aspect-ratio: 12/9; 
    }
  </style>
{% elsif card_image_ratio_mobile == "square" %}
  <style>
    .image-item-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else%}
  <style>
    .image-item-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if card_image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .image-item-{{ section.id }} {
       aspect-ratio: 9.6/14; 
      } 
    }
  </style>
{% elsif card_image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .image-item-{{ section.id }}{
       aspect-ratio: 12/9; 
      }
    }
  </style>
{% elsif card_image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .image-item-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else%}
  <style>
    @media(min-width: 1024px) {
      .image-item-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if section.settings['two_column_mobile'] %}
  <style>
    @media(max-width:768px){
      .image-grid-{{ section.id }} {
            grid-template-columns: 1fr 1fr;
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} image-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="image-grid-{{ section.id }}">
        {% for block in section.blocks %}
          <a href="{% if block.settings.product != blank %}{{ block.settings.product.url }}{% else %}{{ block.settings.url }}{% endif %}" class="image-item-{{ section.id }}">

            <div class="image-bg-{{ section.id }}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% elsif block.settings.product != blank %}
                <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </div>
            
            {% if block.settings.title != blank %}
              
              <div class="image-title-{{ section.id }}">
                {{ block.settings.title }}
              </div>
              
            {% elsif block.settings.product.title != blank %}
              
              <div class="image-title-{{ section.id }}">
                <h3>{{ block.settings.product.title }}</h3>
              </div>
              
            {% endif %}

            {% if block.settings.button != blank %}
              <div class="image-button-{{ section.id }}">
                {{ block.settings.button }}
                {% if button_icon %}
                  <span class="image-button-icon-{{ section.id }}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                {% endif %}
              </div>
            {% endif %}
            
          </a>
        {% endfor %}
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SS - Image Grid Pro",
    "settings": [
      {
        "type": "header",
        "content": "Layout Settings "
      },
      {
        "type": "range",
        "id": "layout_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Layout Gap",
        "default": 50
      },
      {
        "type": "range",
        "id": "layout_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Layout Gap - Mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "layout_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Layout Padding Vertical",
        "default": 50
      },
      {
        "type": "range",
        "id": "layout_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Layout Padding Vertical - Mobile",
        "default": 20
      },
      {
         "type": "range",
         "id": "layout_padding_horizontal",
         "min": 0,
         "max": 150,
         "step": 2,
         "unit": "px",
         "label": "Layout Padding Horizontal",
         "default": 50
      },
      {
         "type": "range",
         "id": "layout_padding_horizontal_mobile",
         "min": 0,
         "max": 150,
         "step": 2,
         "unit": "px",
         "label": "Layout Padding Horizontal - Mobile",
         "default": 20
      },
      {
         "type": "range",
         "id": "layout_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Layout Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "layout_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Layout Border Thickness",
         "default": 0
      },
      {
        "type": "checkbox",
        "id": "two_column_mobile",
        "label": "2 Columns on Mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Card Settings "
      },
      {
        "type": "range",
        "id": "card_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Card Padding Vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "card_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Card Padding Vertical - Mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "card_padding_horizontal",
         "min": 0,
         "max": 150,
         "step": 2,
         "unit": "px",
         "label": "Card Padding Horizontal",
         "default": 16
      },
      {
         "type": "range",
         "id": "card_padding_horizontal_mobile",
         "min": 0,
         "max": 150,
         "step": 2,
         "unit": "px",
         "label": "Card Padding Horizontal - Mobile",
         "default": 16
      },
      {
         "type": "range",
         "id": "card_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Card Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "card_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Card Border Thickness",
         "default": 0
      },
      {
        "type": "range",
        "id": "overlay",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Card Overlay Opacity",
        "default": 0.2
      },
      {
        "type": "select",
        "id": "card_image_ratio",
        "label": "Card Aspect Ratio",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "card_image_ratio_mobile",
        "label": "Card Aspect Ratio - Mobile",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Card Content Settings"
      },
      {
        "type": "select",
        "id": "content_vertical_align",
        "label": "Card Content Vertical Align",
        "default": "end",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_vertical_align_mobile",
        "label": "Card Content Vertical Align - Mobile",
        "default": "end",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
        "type": "header",
        "content": "Title Settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Title Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Title Size",
        "default": 36
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 80,
        "step": 1,
        "unit": "px",
        "label": "Title Size - Mobile",
        "default": 40
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Title Line Height",
        "default": 130
      },
      {
        "type": "text_alignment",
        "id": "title_align",
        "label": "Title Align"
      },
      {
        "type": "text_alignment",
        "id": "title_align_mobile",
        "label": "Title Align - Mobile"
      },
      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Button Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Button Size",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Button Size - Mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Button Line Height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical - Mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal",
         "default": 50
      },
      {
         "type": "range",
         "id": "button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal - Mobile",
         "default": 50
      },
      {
         "type": "range",
         "id": "button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Button Border Thickness",
         "default": 0
      },
      {
        "type": "range",
        "id": "button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Margin Top",
        "default": 16
      },
      {
        "type": "text_alignment",
        "id": "button_align",
        "label": "Button Align"
      },
      {
        "type": "text_alignment",
        "id": "button_align_mobile",
        "label": "Button Align - Mobile"
      },
      {
        "type": "checkbox",
        "id": "button_ellipse",
        "label": "Use Button Ellipse Form",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "button_icon",
        "label": "Use Button Icon",
        "default": false
      },
      {
        "type": "range",
        "id": "button_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Gap",
        "info": "If 'Use Button Icon' is selected!",
        "default": 28
      },
      {
        "type": "checkbox",
        "id": "button_shadow",
        "label": "Use Button Box Shadow",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout Colors"
      },
      {
        "type": "color",
        "label": "Layout Background Color",
        "id": "layout_bg_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Layout Border Color",
        "id": "layout_border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Card Colors"
      },
      {
        "type": "color",
        "label": "Card Border Color",
        "id": "card_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Card Overlay Color",
        "id": "overlay_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Card Title Color",
        "id": "title_color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Button Colors"
      },
      {
        "type": "color",
        "label": "Button Color",
        "id": "button_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Hover Color",
        "id": "button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Button Background Color",
        "id": "button_bg_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Background Hover Color",
        "id": "button_bg_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Border Color",
        "id": "button_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Border Hover Color",
        "id": "button_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Shadow Color",
        "id": "button_shadow_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Replaces the main product image"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<h3>Title</h3>",
            "info": "Replaces the main product title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL",
            "info": "Used When Product is not Selected"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button Text",
            "default": "SHOP NOW"
          }
        ]
      }
    ],
    "max_blocks": 6,
    "presets": [
      {
        "name": "Image Grid",
        "blocks": [
          {
            "type": "item",
            "settings": {
              "title": "<h2>Jewerly</h2>",
              "button": "SHOP"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "<h2>Clothing</h2>",
              "button": "SHOP"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "<h2>Outdoor</h2>",
              "button": "SHOP"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "<h2>Swim</h2>",
              "button": "SHOP"
            }
          }
        ]
      }
    ]
  }
{% endschema %}

