
{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign slider_speed = section.settings.slider_speed
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile
  assign slider_direction = section.settings.slider_direction
  assign pause_hover = section.settings.pause_hover
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_gap = section.settings.slider_gap

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_width_desktop = section.settings.image_width_desktop
  assign image_width_mobile = section.settings.image_width_mobile

  assign use_hover = section.settings.use_hover

  assign icon_color = section.settings.icon_color

-%}

{%- style -%}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .scrolling-image-slider-{{ section.id }} {
    margin-top: {{ slider_mt_mobile }}px;
    display: flex;
  }

  .scrolling-image-slide-{{ section.id }} {
    width: 100%;
    flex: 0 0 {{ image_width_mobile }}px;
    overflow: hidden;
    position: relative;
  }
  
  .scrolling-image-slide-{{ section.id }} img,
  .scrolling-image-slide-{{ section.id }} svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .scrolling-image-slide-{{ section.id }} > svg {
    background-color: #a0a0a0;
  }

  .marquee-horizontal-{{ section.id }} {
      position: relative;
      z-index: 2;
      display: inline-flex;
      overflow: hidden;
      width: 100%;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
  }

  html[dir="rtl"] .marquee-horizontal-{{ section.id }} {
    flex-direction: row-reverse;
  }

  .track-horizontal-{{section.id}} {
      padding-left: {{ slider_gap_mobile }}px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-shrink: 0;
      width: calc(({{ image_width_mobile }}px * {{ section.blocks.size }}) + ({{ slider_gap_mobile }}px * {{ section.blocks.size }}));
      gap: {{ slider_gap_mobile }}px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap;
      will-change: transform;
      animation: marquee-horizontal-{{ slider_direction }} {{ slider_speed | times: 1000 | round: 0 }}ms linear infinite;
  }

  @keyframes marquee-horizontal-left {
    0% {
        transform: translateZ(0);
        visibility: visible;
    }
    
    100% {
        transform: translate3d(-100%,0,0);
    }
  }

  @keyframes marquee-horizontal-right {
    0% {
        transform: translate3d(-100%,0,0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
  }

  .clip-{{ section.id }} {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: transparent !important;
  }

  .scrolling-hover-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b80;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.25s ease 0s;
  }

  .scrolling-image-slide-{{ section.id }}:hover .scrolling-hover-{{ section.id }} {
    opacity: 1;
    transition: all 0.25s ease 0s;
  }

  .scrolling-icon-{{ section.id }} {
    flex: 0 0 24px;
    height: 24px;
  }

  .scrolling-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .scrolling-icon-{{ section.id }} svg path {
    fill: {{ icon_color }};
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .scrolling-image-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
    }

    .scrolling-image-slide-{{ section.id }} {
      flex: 0 0 {{ image_width_desktop }}px;
    }

    .track-horizontal-{{section.id}} {
      padding-left: {{ slider_gap }}px;
      width: calc(({{ image_width_desktop }}px * {{ section.blocks.size }}) + ({{ slider_gap }}px * {{ section.blocks.size }}));
      gap: {{ slider_gap }}px;
    }

    {% if pause_hover %}
      .marquee-horizontal-{{ section.id }}:hover .track-horizontal-{{section.id}} {
         animation-play-state: paused 
      }
    {% endif %}
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .scrolling-image-slide-{{ section.id }} {
     aspect-ratio: 9.6/14; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .scrolling-image-slide-{{ section.id }} {
     aspect-ratio: 12/9; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .scrolling-image-slide-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else%}
  <style>
    .scrolling-image-slide-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .scrolling-image-slide-{{ section.id }} {
       aspect-ratio: 9.6/14; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .scrolling-image-slide-{{ section.id }} {
       aspect-ratio: 12/9; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .scrolling-image-slide-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else%}
  <style>
    @media(min-width: 1024px) {
      .scrolling-image-slide-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}

  {% if block.settings.image_shape == "none" %}
    <style>
      .scrolling-image-slide-{{ block.id }} {
        border-radius: {{ block.settings.image_radius }}px;
        border: {{ block.settings.image_border_thickness }}px solid {{ block.settings.image_border_color }};
      }
    </style>
  {% endif %}

{% endfor %}


<div class="section-{{ section.id }} scrolling-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="scrolling-image-slider-{{ section.id }}">
        <div class="marquee-horizontal-{{ section.id }}">
          <div class="track-horizontal-{{section.id}}">
            {% for block in section.blocks %}
              <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="scrolling-image-slide-{{ section.id }} scrolling-image-slide-{{ block.id }}" style="clip-path: url(#image-shape-{{ block.id }});">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}

                {% if block.settings.image_shape == "1" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                    <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="#CFF0BF"></path>
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern0)"></path>
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern1)"></path>
                      </clipPath>
                    </defs>
                  </svg>
                {% elsif block.settings.image_shape == "2" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 526 517" fill="none">
                    <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29331368821292775,0c0.08043916349809886,0,0.15331368821292776,0.032941972920696325,0.20630418250950572,0.08629013539651838c0.05299049429657795,-0.053348162475822046,0.12586501901140684,-0.08629013539651838,0.20630418250950572,-0.08629013539651838c0.16199239543726235,0,0.29331368821292775,0.1336073500967118,0.29331368821292775,0.29841972920696325c0,0.0776073500967118,-0.02911787072243346,0.14829400386847197,-0.07684410646387833,0.2013713733075435c0.04772623574144486,0.05307736943907156,0.07684410646387833,0.12376595744680852,0.07684410646387833,0.2013713733075435c0,0.16481237911025146,-0.1313212927756654,0.29841972920696325,-0.29331368821292775,0.29841972920696325c-0.08043916349809886,0,-0.15331368821292776,-0.032941972920696325,-0.20630418250950572,-0.08629013539651838c-0.05299049429657795,0.053348162475822046,-0.12586501901140684,0.08629013539651838,-0.20630418250950572,0.08629013539651838c-0.16199239543726235,0,-0.29331368821292775,-0.1336073500967118,-0.29331368821292775,-0.29841972920696325c0,-0.07760541586073501,0.02911787072243346,-0.14829400386847197,0.07684410646387833,-0.2013713733075435c-0.04772623574144486,-0.05307736943907156,-0.07684410646387833,-0.12376402321083171,-0.07684410646387833,-0.2013713733075435c0,-0.16481237911025146,0.1313212927756654,-0.29841972920696325,0.29331368821292775,-0.29841972920696325z" fill="url(#pattern0)"></path>
                      </clipPath>
                    </defs>
                  </svg>
                {% elsif block.settings.image_shape == "3" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                      <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                          <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="url(#pattern0)"></path>
                          <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="black" fill-opacity="0.5"></path>
                      </clipPath>
                      </defs>
                      <g id="Rectangle 28"></g>
                  </svg>
                  {% elsif block.settings.image_shape == "4" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="#CFF0BF"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="url(#pattern0)"></path>
                        </clipPath>
                        </defs>
                    </svg>
                {% endif %}

                {% if use_hover %}
                  <div class="scrolling-hover-{{ section.id }}">
                    <div class="scrolling-icon-{{ section.id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29 28" fill="none">
                          <path d="M20.2309 27.0322H8.81459C6.73963 27.0302 4.75027 26.2073 3.28305 24.7442C1.81583 23.2812 0.99061 21.2974 0.988525 19.2284V7.84442C0.99061 5.77533 1.81583 3.79159 3.28305 2.32852C4.75027 0.865461 6.73963 0.0426058 8.81459 0.0405273H20.2309C22.3058 0.0426058 24.2952 0.865461 25.7625 2.32852C27.2297 3.79159 28.0549 5.77533 28.0569 7.84442V19.2284C28.0549 21.2974 27.2297 23.2812 25.7625 24.7442C24.2952 26.2073 22.3058 27.0302 20.2309 27.0322ZM8.81459 2.7452C7.4573 2.7452 6.15561 3.28285 5.19587 4.23988C4.23612 5.1969 3.69694 6.49491 3.69694 7.84835V19.2323C3.69694 20.5857 4.23612 21.8837 5.19587 22.8408C6.15561 23.7978 7.4573 24.3354 8.81459 24.3354H20.2309C21.5882 24.3354 22.8899 23.7978 23.8496 22.8408C24.8093 21.8837 25.3485 20.5857 25.3485 19.2323V7.84835C25.3485 6.49491 24.8093 5.1969 23.8496 4.23988C22.8899 3.28285 21.5882 2.7452 20.2309 2.7452H8.81459Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                          <path d="M14.5153 20.3669C12.6982 20.3649 10.9562 19.6442 9.67132 18.3629C8.38645 17.0817 7.6637 15.3446 7.66162 13.5326C7.6637 11.7207 8.38645 9.9836 9.67132 8.70237C10.9562 7.42114 12.6982 6.70044 14.5153 6.69836C16.3324 6.70044 18.0744 7.42114 19.3593 8.70237C20.6442 9.9836 21.3669 11.7207 21.369 13.5326C21.3669 15.3446 20.6442 17.0817 19.3593 18.3629C18.0744 19.6442 16.3324 20.3649 14.5153 20.3669ZM14.5153 8.98301C13.3017 8.98508 12.1384 9.46673 11.2802 10.3225C10.4221 11.1782 9.93905 12.3382 9.93697 13.5484C9.93905 14.7582 10.4222 15.9178 11.2805 16.7729C12.1387 17.628 13.302 18.1087 14.5153 18.1098C15.7285 18.1087 16.8919 17.628 17.7502 16.7729C18.6084 15.9178 19.0915 14.7582 19.0936 13.5484C19.0947 12.9478 18.9771 12.3529 18.7475 11.7977C18.518 11.2424 18.1811 10.7377 17.7559 10.3123C17.3308 9.88693 16.8258 9.54919 16.2698 9.31841C15.7137 9.08764 15.1176 8.96832 14.5153 8.96729V8.98301Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                          <path d="M21.507 7.95044C22.3897 7.95044 23.1053 7.2369 23.1053 6.35669C23.1053 5.47649 22.3897 4.76294 21.507 4.76294C20.6243 4.76294 19.9087 5.47649 19.9087 6.35669C19.9087 7.2369 20.6243 7.95044 21.507 7.95044Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                      </svg>
                    </div>
                  </div>
                {% endif %}
              </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
            {% endfor %}
          </div>
          <div class="track-horizontal-{{section.id}}">
            {% for block in section.blocks %}
              <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="scrolling-image-slide-{{ section.id }} scrolling-image-slide-{{ block.id }}" style="clip-path: url(#image-shape-{{ block.id }});">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}

                {% if block.settings.image_shape == "1" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                    <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="#CFF0BF"></path>
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern0)"></path>
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern1)"></path>
                      </clipPath>
                    </defs>
                  </svg>
                {% elsif block.settings.image_shape == "2" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 526 517" fill="none">
                    <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29331368821292775,0c0.08043916349809886,0,0.15331368821292776,0.032941972920696325,0.20630418250950572,0.08629013539651838c0.05299049429657795,-0.053348162475822046,0.12586501901140684,-0.08629013539651838,0.20630418250950572,-0.08629013539651838c0.16199239543726235,0,0.29331368821292775,0.1336073500967118,0.29331368821292775,0.29841972920696325c0,0.0776073500967118,-0.02911787072243346,0.14829400386847197,-0.07684410646387833,0.2013713733075435c0.04772623574144486,0.05307736943907156,0.07684410646387833,0.12376595744680852,0.07684410646387833,0.2013713733075435c0,0.16481237911025146,-0.1313212927756654,0.29841972920696325,-0.29331368821292775,0.29841972920696325c-0.08043916349809886,0,-0.15331368821292776,-0.032941972920696325,-0.20630418250950572,-0.08629013539651838c-0.05299049429657795,0.053348162475822046,-0.12586501901140684,0.08629013539651838,-0.20630418250950572,0.08629013539651838c-0.16199239543726235,0,-0.29331368821292775,-0.1336073500967118,-0.29331368821292775,-0.29841972920696325c0,-0.07760541586073501,0.02911787072243346,-0.14829400386847197,0.07684410646387833,-0.2013713733075435c-0.04772623574144486,-0.05307736943907156,-0.07684410646387833,-0.12376402321083171,-0.07684410646387833,-0.2013713733075435c0,-0.16481237911025146,0.1313212927756654,-0.29841972920696325,0.29331368821292775,-0.29841972920696325z" fill="url(#pattern0)"></path>
                      </clipPath>
                    </defs>
                  </svg>
                {% elsif block.settings.image_shape == "3" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                      <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                          <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="url(#pattern0)"></path>
                          <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="black" fill-opacity="0.5"></path>
                      </clipPath>
                      </defs>
                      <g id="Rectangle 28"></g>
                  </svg>
                  {% elsif block.settings.image_shape == "4" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="#CFF0BF"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="url(#pattern0)"></path>
                        </clipPath>
                        </defs>
                    </svg>
                {% endif %}

                {% if use_hover %}
                  <div class="scrolling-hover-{{ section.id }}">
                    <div class="scrolling-icon-{{ section.id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29 28" fill="none">
                          <path d="M20.2309 27.0322H8.81459C6.73963 27.0302 4.75027 26.2073 3.28305 24.7442C1.81583 23.2812 0.99061 21.2974 0.988525 19.2284V7.84442C0.99061 5.77533 1.81583 3.79159 3.28305 2.32852C4.75027 0.865461 6.73963 0.0426058 8.81459 0.0405273H20.2309C22.3058 0.0426058 24.2952 0.865461 25.7625 2.32852C27.2297 3.79159 28.0549 5.77533 28.0569 7.84442V19.2284C28.0549 21.2974 27.2297 23.2812 25.7625 24.7442C24.2952 26.2073 22.3058 27.0302 20.2309 27.0322ZM8.81459 2.7452C7.4573 2.7452 6.15561 3.28285 5.19587 4.23988C4.23612 5.1969 3.69694 6.49491 3.69694 7.84835V19.2323C3.69694 20.5857 4.23612 21.8837 5.19587 22.8408C6.15561 23.7978 7.4573 24.3354 8.81459 24.3354H20.2309C21.5882 24.3354 22.8899 23.7978 23.8496 22.8408C24.8093 21.8837 25.3485 20.5857 25.3485 19.2323V7.84835C25.3485 6.49491 24.8093 5.1969 23.8496 4.23988C22.8899 3.28285 21.5882 2.7452 20.2309 2.7452H8.81459Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                          <path d="M14.5153 20.3669C12.6982 20.3649 10.9562 19.6442 9.67132 18.3629C8.38645 17.0817 7.6637 15.3446 7.66162 13.5326C7.6637 11.7207 8.38645 9.9836 9.67132 8.70237C10.9562 7.42114 12.6982 6.70044 14.5153 6.69836C16.3324 6.70044 18.0744 7.42114 19.3593 8.70237C20.6442 9.9836 21.3669 11.7207 21.369 13.5326C21.3669 15.3446 20.6442 17.0817 19.3593 18.3629C18.0744 19.6442 16.3324 20.3649 14.5153 20.3669ZM14.5153 8.98301C13.3017 8.98508 12.1384 9.46673 11.2802 10.3225C10.4221 11.1782 9.93905 12.3382 9.93697 13.5484C9.93905 14.7582 10.4222 15.9178 11.2805 16.7729C12.1387 17.628 13.302 18.1087 14.5153 18.1098C15.7285 18.1087 16.8919 17.628 17.7502 16.7729C18.6084 15.9178 19.0915 14.7582 19.0936 13.5484C19.0947 12.9478 18.9771 12.3529 18.7475 11.7977C18.518 11.2424 18.1811 10.7377 17.7559 10.3123C17.3308 9.88693 16.8258 9.54919 16.2698 9.31841C15.7137 9.08764 15.1176 8.96832 14.5153 8.96729V8.98301Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                          <path d="M21.507 7.95044C22.3897 7.95044 23.1053 7.2369 23.1053 6.35669C23.1053 5.47649 22.3897 4.76294 21.507 4.76294C20.6243 4.76294 19.9087 5.47649 19.9087 6.35669C19.9087 7.2369 20.6243 7.95044 21.507 7.95044Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                      </svg>
                    </div>
                  </div>
                {% endif %}

              </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
            {% endfor %}
          </div>
          <div class="track-horizontal-{{section.id}}">
            {% for block in section.blocks %}
            <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="scrolling-image-slide-{{ section.id }} scrolling-image-slide-{{ block.id }}" style="clip-path: url(#image-shape-{{ block.id }});">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}

              {% if block.settings.image_shape == "1" %}
                <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                  <defs>
                    <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                      <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="#CFF0BF"></path>
                      <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern0)"></path>
                      <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern1)"></path>
                    </clipPath>
                  </defs>
                </svg>
              {% elsif block.settings.image_shape == "2" %}
                <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 526 517" fill="none">
                  <defs>
                    <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29331368821292775,0c0.08043916349809886,0,0.15331368821292776,0.032941972920696325,0.20630418250950572,0.08629013539651838c0.05299049429657795,-0.053348162475822046,0.12586501901140684,-0.08629013539651838,0.20630418250950572,-0.08629013539651838c0.16199239543726235,0,0.29331368821292775,0.1336073500967118,0.29331368821292775,0.29841972920696325c0,0.0776073500967118,-0.02911787072243346,0.14829400386847197,-0.07684410646387833,0.2013713733075435c0.04772623574144486,0.05307736943907156,0.07684410646387833,0.12376595744680852,0.07684410646387833,0.2013713733075435c0,0.16481237911025146,-0.1313212927756654,0.29841972920696325,-0.29331368821292775,0.29841972920696325c-0.08043916349809886,0,-0.15331368821292776,-0.032941972920696325,-0.20630418250950572,-0.08629013539651838c-0.05299049429657795,0.053348162475822046,-0.12586501901140684,0.08629013539651838,-0.20630418250950572,0.08629013539651838c-0.16199239543726235,0,-0.29331368821292775,-0.1336073500967118,-0.29331368821292775,-0.29841972920696325c0,-0.07760541586073501,0.02911787072243346,-0.14829400386847197,0.07684410646387833,-0.2013713733075435c-0.04772623574144486,-0.05307736943907156,-0.07684410646387833,-0.12376402321083171,-0.07684410646387833,-0.2013713733075435c0,-0.16481237911025146,0.1313212927756654,-0.29841972920696325,0.29331368821292775,-0.29841972920696325z" fill="url(#pattern0)"></path>
                    </clipPath>
                  </defs>
                </svg>
              {% elsif block.settings.image_shape == "3" %}
                <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                    <defs>
                    <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="url(#pattern0)"></path>
                        <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="black" fill-opacity="0.5"></path>
                    </clipPath>
                    </defs>
                    <g id="Rectangle 28"></g>
                </svg>
                {% elsif block.settings.image_shape == "4" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                      <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="#CFF0BF"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="url(#pattern0)"></path>
                      </clipPath>
                      </defs>
                  </svg>
              {% endif %}
              
              {% if use_hover %}
                <div class="scrolling-hover-{{ section.id }}">
                  <div class="scrolling-icon-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29 28" fill="none">
                        <path d="M20.2309 27.0322H8.81459C6.73963 27.0302 4.75027 26.2073 3.28305 24.7442C1.81583 23.2812 0.99061 21.2974 0.988525 19.2284V7.84442C0.99061 5.77533 1.81583 3.79159 3.28305 2.32852C4.75027 0.865461 6.73963 0.0426058 8.81459 0.0405273H20.2309C22.3058 0.0426058 24.2952 0.865461 25.7625 2.32852C27.2297 3.79159 28.0549 5.77533 28.0569 7.84442V19.2284C28.0549 21.2974 27.2297 23.2812 25.7625 24.7442C24.2952 26.2073 22.3058 27.0302 20.2309 27.0322ZM8.81459 2.7452C7.4573 2.7452 6.15561 3.28285 5.19587 4.23988C4.23612 5.1969 3.69694 6.49491 3.69694 7.84835V19.2323C3.69694 20.5857 4.23612 21.8837 5.19587 22.8408C6.15561 23.7978 7.4573 24.3354 8.81459 24.3354H20.2309C21.5882 24.3354 22.8899 23.7978 23.8496 22.8408C24.8093 21.8837 25.3485 20.5857 25.3485 19.2323V7.84835C25.3485 6.49491 24.8093 5.1969 23.8496 4.23988C22.8899 3.28285 21.5882 2.7452 20.2309 2.7452H8.81459Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                        <path d="M14.5153 20.3669C12.6982 20.3649 10.9562 19.6442 9.67132 18.3629C8.38645 17.0817 7.6637 15.3446 7.66162 13.5326C7.6637 11.7207 8.38645 9.9836 9.67132 8.70237C10.9562 7.42114 12.6982 6.70044 14.5153 6.69836C16.3324 6.70044 18.0744 7.42114 19.3593 8.70237C20.6442 9.9836 21.3669 11.7207 21.369 13.5326C21.3669 15.3446 20.6442 17.0817 19.3593 18.3629C18.0744 19.6442 16.3324 20.3649 14.5153 20.3669ZM14.5153 8.98301C13.3017 8.98508 12.1384 9.46673 11.2802 10.3225C10.4221 11.1782 9.93905 12.3382 9.93697 13.5484C9.93905 14.7582 10.4222 15.9178 11.2805 16.7729C12.1387 17.628 13.302 18.1087 14.5153 18.1098C15.7285 18.1087 16.8919 17.628 17.7502 16.7729C18.6084 15.9178 19.0915 14.7582 19.0936 13.5484C19.0947 12.9478 18.9771 12.3529 18.7475 11.7977C18.518 11.2424 18.1811 10.7377 17.7559 10.3123C17.3308 9.88693 16.8258 9.54919 16.2698 9.31841C15.7137 9.08764 15.1176 8.96832 14.5153 8.96729V8.98301Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                        <path d="M21.507 7.95044C22.3897 7.95044 23.1053 7.2369 23.1053 6.35669C23.1053 5.47649 22.3897 4.76294 21.507 4.76294C20.6243 4.76294 19.9087 5.47649 19.9087 6.35669C19.9087 7.2369 20.6243 7.95044 21.507 7.95044Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                    </svg>
                  </div>
                </div>
              {% endif %}

            </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
          {% endfor %}
          </div>
          <div class="track-horizontal-{{section.id}}">
            {% for block in section.blocks %}
              <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="scrolling-image-slide-{{ section.id }} scrolling-image-slide-{{ block.id }}" style="clip-path: url(#image-shape-{{ block.id }});">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}

                {% if block.settings.image_shape == "1" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                    <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="#CFF0BF"></path>
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern0)"></path>
                        <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern1)"></path>
                      </clipPath>
                    </defs>
                  </svg>
                {% elsif block.settings.image_shape == "2" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 526 517" fill="none">
                    <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29331368821292775,0c0.08043916349809886,0,0.15331368821292776,0.032941972920696325,0.20630418250950572,0.08629013539651838c0.05299049429657795,-0.053348162475822046,0.12586501901140684,-0.08629013539651838,0.20630418250950572,-0.08629013539651838c0.16199239543726235,0,0.29331368821292775,0.1336073500967118,0.29331368821292775,0.29841972920696325c0,0.0776073500967118,-0.02911787072243346,0.14829400386847197,-0.07684410646387833,0.2013713733075435c0.04772623574144486,0.05307736943907156,0.07684410646387833,0.12376595744680852,0.07684410646387833,0.2013713733075435c0,0.16481237911025146,-0.1313212927756654,0.29841972920696325,-0.29331368821292775,0.29841972920696325c-0.08043916349809886,0,-0.15331368821292776,-0.032941972920696325,-0.20630418250950572,-0.08629013539651838c-0.05299049429657795,0.053348162475822046,-0.12586501901140684,0.08629013539651838,-0.20630418250950572,0.08629013539651838c-0.16199239543726235,0,-0.29331368821292775,-0.1336073500967118,-0.29331368821292775,-0.29841972920696325c0,-0.07760541586073501,0.02911787072243346,-0.14829400386847197,0.07684410646387833,-0.2013713733075435c-0.04772623574144486,-0.05307736943907156,-0.07684410646387833,-0.12376402321083171,-0.07684410646387833,-0.2013713733075435c0,-0.16481237911025146,0.1313212927756654,-0.29841972920696325,0.29331368821292775,-0.29841972920696325z" fill="url(#pattern0)"></path>
                      </clipPath>
                    </defs>
                  </svg>
                {% elsif block.settings.image_shape == "3" %}
                  <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                      <defs>
                      <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                          <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="url(#pattern0)"></path>
                          <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="black" fill-opacity="0.5"></path>
                      </clipPath>
                      </defs>
                      <g id="Rectangle 28"></g>
                  </svg>
                  {% elsif block.settings.image_shape == "4" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ block.id }}" clipPathUnits="objectBoundingBox">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="#CFF0BF"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="url(#pattern0)"></path>
                        </clipPath>
                        </defs>
                    </svg>
                {% endif %}

                {% if use_hover %}
                  <div class="scrolling-hover-{{ section.id }}">
                    <div class="scrolling-icon-{{ section.id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29 28" fill="none">
                          <path d="M20.2309 27.0322H8.81459C6.73963 27.0302 4.75027 26.2073 3.28305 24.7442C1.81583 23.2812 0.99061 21.2974 0.988525 19.2284V7.84442C0.99061 5.77533 1.81583 3.79159 3.28305 2.32852C4.75027 0.865461 6.73963 0.0426058 8.81459 0.0405273H20.2309C22.3058 0.0426058 24.2952 0.865461 25.7625 2.32852C27.2297 3.79159 28.0549 5.77533 28.0569 7.84442V19.2284C28.0549 21.2974 27.2297 23.2812 25.7625 24.7442C24.2952 26.2073 22.3058 27.0302 20.2309 27.0322ZM8.81459 2.7452C7.4573 2.7452 6.15561 3.28285 5.19587 4.23988C4.23612 5.1969 3.69694 6.49491 3.69694 7.84835V19.2323C3.69694 20.5857 4.23612 21.8837 5.19587 22.8408C6.15561 23.7978 7.4573 24.3354 8.81459 24.3354H20.2309C21.5882 24.3354 22.8899 23.7978 23.8496 22.8408C24.8093 21.8837 25.3485 20.5857 25.3485 19.2323V7.84835C25.3485 6.49491 24.8093 5.1969 23.8496 4.23988C22.8899 3.28285 21.5882 2.7452 20.2309 2.7452H8.81459Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                          <path d="M14.5153 20.3669C12.6982 20.3649 10.9562 19.6442 9.67132 18.3629C8.38645 17.0817 7.6637 15.3446 7.66162 13.5326C7.6637 11.7207 8.38645 9.9836 9.67132 8.70237C10.9562 7.42114 12.6982 6.70044 14.5153 6.69836C16.3324 6.70044 18.0744 7.42114 19.3593 8.70237C20.6442 9.9836 21.3669 11.7207 21.369 13.5326C21.3669 15.3446 20.6442 17.0817 19.3593 18.3629C18.0744 19.6442 16.3324 20.3649 14.5153 20.3669ZM14.5153 8.98301C13.3017 8.98508 12.1384 9.46673 11.2802 10.3225C10.4221 11.1782 9.93905 12.3382 9.93697 13.5484C9.93905 14.7582 10.4222 15.9178 11.2805 16.7729C12.1387 17.628 13.302 18.1087 14.5153 18.1098C15.7285 18.1087 16.8919 17.628 17.7502 16.7729C18.6084 15.9178 19.0915 14.7582 19.0936 13.5484C19.0947 12.9478 18.9771 12.3529 18.7475 11.7977C18.518 11.2424 18.1811 10.7377 17.7559 10.3123C17.3308 9.88693 16.8258 9.54919 16.2698 9.31841C15.7137 9.08764 15.1176 8.96832 14.5153 8.96729V8.98301Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                          <path d="M21.507 7.95044C22.3897 7.95044 23.1053 7.2369 23.1053 6.35669C23.1053 5.47649 22.3897 4.76294 21.507 4.76294C20.6243 4.76294 19.9087 5.47649 19.9087 6.35669C19.9087 7.2369 20.6243 7.95044 21.507 7.95044Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                      </svg>
                    </div>
                  </div>
                {% endif %}

              </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SS - Scrolling Images #3",
    "settings": [
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "range",
        "id": "slider_speed",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Slider Speed",
        "info": " <----------------> ",
        "default": 32
      },
      {
        "type": "range",
        "id": "slider_gap",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Items Gap",
        "default": 20
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Items Gap - Mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Margin Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Margin Top - Mobile",
        "default": 0
      },
      {
        "type": "select",
        "id": "slider_direction",
        "label": "Slider Direction",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id":"pause_hover",
        "label": "Pause on Hover",
        "default": false
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "range",
        "id": "image_width_desktop",
        "min": 100,
        "max": 800,
        "step": 10,
        "unit": "px",
        "label": "Image Width Desktop",
        "default": 240
      },
      {
        "type": "range",
        "id": "image_width_mobile",
        "min": 100,
        "max": 800,
        "step": 10,
        "unit": "px",
        "label": "Image Width Mobile",
        "default": 180
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "use_hover",
        "label": "Use Instagram Logo Hover Effect",
        "default":false
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Hover Icon Color",
        "id": "icon_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_shape",
            "label": "Image Shape",
            "default": "1",
            "options": [
              {
                "label": "Shape 1",
                "value": "1"
              },
              {
                "label": "Shape 2",
                "value": "2"
              },
              {
                "label": "Shape 3",
                "value": "3"
              },
              {
                "label": "Shape 4",
                "value": "4"
              },
              {
                "label": "None",
                "value": "none"
              }
            ]
          },
          {
            "type": "range",
            "id": "image_radius",
            "min": 0,
            "max": 400,
            "step": 4,
            "unit": "px",
            "label": "Image Roundness",
            "default": 24
          },
          {
            "type": "range",
            "id": "image_border_thickness",
            "min": 0,
            "max": 10,
            "step": 1,
            "unit": "px",
            "label": "Card Image Border Thickness",
            "default": 0,
            "info": "Does not work on shapes"
          },
          {
            "type": "color",
            "label": "Image Border Color",
            "id": "image_border_color",
            "default": "#000000"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Scrolling Images",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "image_shape": "1"
            }
          },
          {
            "type": "image",
            "settings": {
              "image_shape": "2"
            }
          },
          {
            "type": "image",
            "settings": {
              "image_shape": "3"
            }
          },
          {
            "type": "image",
            "settings": {
              "image_shape": "4"
            }
          }
        ]
      }
    ]
  }
{% endschema %}