<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.css"/>
{%- liquid

  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
   
  assign heading_section = section.settings.heading_section
  assign heading_section_size = section.settings.heading_section_size
  assign heading_section_size_mobile = section.settings.heading_section_size_mobile
  assign heading_section_color = section.settings.heading_section_color
  assign heading_section_font = section.settings.heading_section_font
  assign heading_section_custom = section.settings.heading_section_custom
  assign heading_section_height = section.settings.heading_section_height
  assign heading_section_align = section.settings.heading_section_align
  assign heading_section_align_mobile = section.settings.heading_section_align_mobile
  assign heading_section_weight = section.settings.heading_section_weight
  assign heading_section_inline = section.settings.heading_section_inline
  assign heading_section_width = section.settings.heading_section_width

  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt

  assign square_image = section.settings.square_image

  assign border_size = section.settings.border_size
  assign ring_color = section.settings.ring_color

  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_size = section.settings.icon_size

  assign mobile_content_alignment = section.settings.mobile_content_alignment
  
  assign sliders_mt = section.settings.sliders_mt
  assign sliders_gap = section.settings.sliders_gap
  assign sliders_nav = section.settings.sliders_nav
  assign sliders_nav_desktop = section.settings.sliders_nav_desktop

  assign buttons_position = section.settings.buttons_position
  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign scrollbar_mt = section.settings.scrollbar_mt
  assign scrollbar_bg = section.settings.scrollbar_bg
  assign scrollbar_drag_bg = section.settings.scrollbar_drag_bg
  
-%}
{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  heading_section_font | font_face: font_display: 'swap' }}

  .bubble-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: 0rem;
    overflow:hidden;
  }
  
  .section-{{ section.id }}-settings .bubble_item-{{ section.id }} {
    width: 100%;
    max-width: {{ icon_size_mobile }}px;
    margin-right: {{ sliders_gap | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper {
    aspect-ratio: 1/1;
  }

  @media(min-width: 601px) {
    .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper {
      max-height: {{  icon_size }};
    }
  }
  @media(max-width: 600px) {
    .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper:before {
      float: left;
      padding-top: 100%;
      content: "";
    }

    .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper:after {
      display: block;
      content: "";
      clear: both;
    }
  }
  .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper img,
  .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bubble-top-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 5px;
  }

  .bubble-heading-{{ section.id }} {
    width: 100%;
    margin: 0px;
    font-size: {{ heading_section_size_mobile }}px;
    color: {{ heading_section_color }};
    line-height: {{ heading_section_height }}%;
    text-align: {{ heading_section_align_mobile }};
    font-weight: {{ heading_section_weight }};
  }

  .bubble-heading-bottom-{{ section.id }} {
    display: none;
  }

  .bubble-bottom-{{ section.id }} {
    margin-top: {{ sliders_mt | times: 0.75 | round: 0 }}px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  
  .bubble-slider-{{ section.id }} {
    overflow: hidden !important;
    padding-bottom: {{ scrollbar_mt }}px !important;
    position: relative;
    width: 100% !important;
    max-width: fit-content !important;
    margin: 0px auto !important;
  }

  .bubble-buttons-{{ section.id }} {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .bubble-btn-prev-{{ section.id }},
  .bubble-btn-next-{{ section.id }} {
    position: static !important;
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
  }

  .bubble-btn-prev-{{ section.id }} .animate-icon,
  .bubble-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .bubble-btn-prev-{{ section.id }} .animate-icon:before,
  .bubble-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentcolor;
    border-top: 2px solid currentcolor;
    position: relative;
    left: -1px;
  }

  .bubble-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentcolor;
    border-left: 2px solid currentcolor;
  }

  .bubble-btn-prev-{{ section.id }} .animate-icon:after,
  .bubble-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentcolor;
    transform: scaleX(.5);
  }

  .bubble-btn-prev-{{ section.id }} span,
  .bubble-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .bubble-btn-prev-{{ section.id }}.swiper-button-disabled,
  .bubble-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.4;
  }

  .bubble-scrollbar-{{ section.id }} {
    background-color: {{ scrollbar_bg }};
  }

  .bubble-scrollbar-{{ section.id }} .swiper-scrollbar-drag {
    display: block !important;
    background-color: {{ scrollbar_drag_bg }};
  }
  .bubble-scrollbar-{{ section.id }}.swiper-scrollbar {
    z-index: 20 !important;
  }
  @media screen and (min-width: 750px) {
    .bubble-{{ section.id }} {
        margin-top: {{ margin_top }}px;
        margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
    }

    .bubble-heading-{{ section.id }} {
      text-align: {{ heading_section_align }};
      font-size: {{ heading_section_size}}px;
      flex: 1 1 auto;
    }

    .bubble-bottom-{{ section.id }} {
      margin-top: {{ sliders_mt }}px;
      gap: 30px;
    }

    .bubble-slider-{{ section.id }} {
      padding-bottom: 0px !important;
    }

    .bubble-btn-prev-{{ section.id }},
    .bubble-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .bubble-btn-prev-{{ section.id }} .animate-icon:before,
    .bubble-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .bubble-btn-prev-{{ section.id }} .animate-icon:after,
    .bubble-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .bubble-scrollbar-{{ section.id }} {
      display: none;
    }

    .section-{{ section.id }}-settings .bubble_item-{{ section.id }} {
      max-width: {{ icon_size }}px;
      margin-right: {{ sliders_gap }}px;
    }
  }

  .bubble-slider-{{section.id}} {
    width: 100vw !important;
    height: auto !important;
  }
{%- endstyle -%}

{% if heading_custom %}
  <style>
    .section-{{ section.id }}-settings .bubble_text {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if heading_section_custom %}
  <style>
    .bubble-heading-{{ section.id }} {
      font-family: {{ heading_section_font.family }}, {{ heading_section_font.fallback_families }};
      font-weight: {{ heading_section_font.weight }};
      font-style: {{ heading_section_font.style }};
    }
  </style>
{% endif %}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if sliders_nav == 'scrollbar' %}
  <style>
    .bubble-top-{{ section.id }} {
      gap: 0px;
    }
    
    .bubble-buttons-{{ section.id }} {
      display: none !important;
    }
    
    @media(min-width: 750px) {
      
      .bubble-buttons-{{ section.id }} {
        display: flex !important;
      }
      
      .bubble-top-{{ section.id }} {
        gap: 20px;
      }
    }
  </style>
{% elsif sliders_nav == 'buttons' %}
  <style>
    .bubble-scrollbar-{{ section.id }} {
      display: none;
    }
  </style>
{% else %}
  <style>
    .bubble-top-{{ section.id }} {
      gap: 0px;
    }
    
    .bubble-scrollbar-{{ section.id }} {
      display: none;
    }
    
    .bubble-buttons-{{ section.id }} {
      display: none !important;
    }
    
    @media(min-width: 750px) {
      .bubble-top-{{ section.id }} {
        gap: 20px;
      }
      
      .bubble-buttons-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% endif %}

{% if sliders_nav_desktop == "none" %}
  <style>
    @media(min-width: 750px) {
      .bubble-top-{{ section.id }} {
        gap: 0px;
      }
      .bubble-btn-prev-{{ section.id }},
      .bubble-btn-next-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .bubble-btn-prev-{{ section.id }}:hover,
    .bubble-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .bubble-btn-prev-{{ section.id }}:hover .animate-icon,
    .bubble-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .bubble-btn-prev-{{ section.id }}:hover,
    .bubble-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .bubble-btn-prev-{{ section.id }}:hover,
      .bubble-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .bubble-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .bubble-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .bubble-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .bubble-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if heading_section_inline %}
  <style>
    .bubble-heading-{{ section.id }} {
      flex: 0 0  {{ heading_section_width }}px;
    }
    
    .bubble-heading-top-{{ section.id }} {
      display: none;
    }
    .bubble-heading-bottom-{{ section.id }} {
      display: inline;
    }
    .bubble-buttons-{{ section.id }} {
      margin-left: auto;
    }
    @media screen and (min-width: 750px) {
      .bubble-heading-bottom-{{ section.id }} {
        flex-shrink: 0;
      }
      .bubble-heading-{{ section.id }} {
        flex: 0 0 fit-content;
      }
    }
  </style>
{% endif %}

<style>
  
  .section-{{ section.id }}-settings .bubble_text {
    margin: 0;
    font-size: {{ text_size }}px;
    text-align: center; 
    margin-top: {{ text_mt }}px;
    color: {{ text_color }};
  }
  
  .bubble_item-{{ section.id }} {
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    box-sizing: border-box !important;
  }

  .bubble-{{ section.id }} .bubble_item-{{ section.id }} .img-wrapper {
    
    
    {% if section.settings.background_gradient != blank %}
      padding: {{ border_size }}px;
      background-image: {{ section.settings.background_gradient }};
    {% else %}
      border: {{border_size}}px {{ring_color}} solid;
    {% endif %}
    {% if square_image == false %}border-radius: 50%;{% endif %}
    {% if section.settings.hover_effect %}transform: scale(0.97); {% endif %}
    transition: transform .2s;
  }
  
  .bubble-{{ section.id }} .bubble_item-{{ section.id }} svg {
    display:block;
    {% if square_image == false %}border-radius: 50%;{% endif %}
  }

  .bubble-{{ section.id }} .bubble_item-{{ section.id }} img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    {% if square_image == false %}border-radius: 50%;{% endif %}
    transition: transform .2s;
  }
  
  .bubble_item-{{ section.id }} .img-wrapper:hover {
    transform: scale(1);  /* Return to original size on hover */
  }
  
  @media (max-width: 749px) {
    
    .section-{{ section.id }}-settings .bubble_item-{{ section.id }} .img-wrapper {
      max-height: {{  icon_size_mobile }};
    }
    .section-{{ section.id }}-settings .bubble_text {
    	font-size: {{ text_size_mobile }}px;
        margin-top: {{ text_mt | times: 0.75 | round: 0  }}px;
    }
  
   }

   @media (max-width: 480px) {
     .bubble-{{ section.id }} {
       {% if section.settings.hide_mobile %}
         display:none;
       {% endif %}
     }
   }

   @media (min-width: 480px) {
     .bubble-{{ section.id }} {
       {% if section.settings.hide_desktop %}
         display:none;
       {% endif %}
     }
   }
</style>

{% if buttons_position == "bottom" %}
  <style>
    .bubble-buttons-{{ section.id }} {
      margin-top: 16px;
      justify-content: center;
    }
  </style>
{% endif %}

<div class="bubble-{{ section.id }}"style="background-color:{{section.settings.background-color}};">
  <div class="section-{{ section.id }}-settings">
    <div class="bubble-top-{{ section.id }}">
      {% if heading_section != blank %}
        <h2 class="bubble-heading-{{ section.id }} bubble-heading-top-{{ section.id }}">{{ heading_section }}</h2>
      {% endif %}
      {% if buttons_position == "top" %}
        <div class="bubble-buttons-{{ section.id }}">
          <button class="bubble-btn-prev-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
        <button class="bubble-btn-next-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>  
        </div>
      {% endif %}
    </div>
    <div class="bubble-bottom-{{ section.id }}">
      {% if heading_section != blank %}
        <h2 class="bubble-heading-{{ section.id }} bubble-heading-bottom-{{ section.id }}">{{ heading_section }}</h2>
      {% endif %}
      <div class="bubble-slider-{{section.id}} swiper">
        <div class="bubble-container-{{section.id}} swiper-wrapper">
    		{%- for block in section.blocks -%}
              <div class="bubble_item-{{ section.id }} swiper-slide">
              {%- if block.settings.bubble_link -%}<a href="{{block.settings.bubble_link}}">{%- endif -%}
                  {%- if block.settings.bubble_img -%}
                    <div class="img-wrapper">
                      <img src="{{ block.settings.bubble_img | image_url: width: 400 }}" alt="{{ block.settings.bubble_img.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                    </div>
                  {%- else -%}
                    <div class="img-wrapper">
                       {{ 'image' | placeholder_svg_tag }}
                    </div>
                  {%- endif -%}
    			{%- if block.settings.bubble_link -%}</a>{%- endif -%}
                <p class="bubble_text"> {{block.settings.bubble_text }} </p>
              </div>
          {%- endfor -%}
        </div>
        <div class="bubble-scrollbar-{{ section.id }} swiper-scrollbar"></div>
      </div>
    </div>
    {% if buttons_position == "bottom" %}
    <div class="bubble-buttons-{{ section.id }}">
      <button class="bubble-btn-prev-{{ section.id }}">
        <span class="animate-icon"></span>
      </button>
      <button class="bubble-btn-next-{{ section.id }}">
        <span class="animate-icon"></span>
      </button>  
    </div>
  {% endif %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.js"></script>
<script>
  function initCircleMenuPro() {
    new Swiper('.bubble-slider-{{section.id}}', {
        speed: 300,
        slidesPerView: "auto",
        navigation: {
          nextEl: '.bubble-btn-next-{{ section.id }}',
          prevEl: '.bubble-btn-prev-{{ section.id }}',
        },
        scrollbar: {
          el: '.bubble-scrollbar-{{ section.id }}',
          draggable: true
        }
    });
  }

  document.addEventListener('DOMContentLoaded', initCircleMenuPro);
          
  if (Shopify.designMode) {
     initCircleMenuPro();
     document.addEventListener('shopify:section:unload', initCircleMenuPro);
     document.addEventListener('shopify:section:load', initCircleMenuPro);
  }
</script>

{% schema %}
  {
    "name": "SS - Circle menu Pro",
	"class": "section",
	"tag": "section",
    "settings": [
        {
          "type": "header",
          "content": "Att: Save section before slider works."
        },
        {
          "type": "header",
          "content": "Hide/show on device"
        },
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "default": false,
          "label": "Hide section on mobile"
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "default": false,
          "label": "Hide section on desktop"
        },
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "text",
          "id": "heading_section",
          "label": "Heading",
          "default": "bubbles"
        },
        {
          "type": "checkbox",
          "id": "heading_section_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "heading_section_font",
          "label": "Heading Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "heading_section_size",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Heading Size - Desktop",
          "default": 18
        },
        {
          "type": "range",
          "id": "heading_section_size_mobile",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "Heading Size - Mobile",
          "default": 14
        },
        {
          "type": "range",
          "id": "heading_section_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Heading Line Height",
          "default": 100
        },
        {
          "type": "select",
          "id": "heading_section_align",
          "label": "Heading Text Align",
          "default": "left",
          "options": [
           {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_section_align_mobile",
          "label": "Heading Text Align - Mobile",
          "default": "left",
          "options": [
           {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_section_weight",
          "label": "Heading Font Weight",
          "default": "700",
          "options": [
           {
              "label": "Regular",
              "value": "400"
            },
            {
              "label": "Bold",
              "value": "700"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "heading_section_inline",
          "default": false,
          "label": "Heading In Line with Slider"
        },
        {
          "type": "range",
          "id": "heading_section_width",
          "min": 30,
          "max": 400,
          "step": 5,
          "unit": "px",
          "label": "Heading Max Width - Inline Mobile",
          "default": 100
        },
        {
          "type": "header",
          "content": "Slider Settings"
        },
        {
          "type": "range",
          "id": "sliders_mt",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Sliders Margin top",
          "default": 20
        },
        {
          "type": "range",
          "id": "sliders_gap",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Slide Space Between",
          "default": 20
        },
        {
          "type": "select",
          "id": "sliders_nav_desktop",
          "label": "Slider Navigation - Desktop",
          "default": "buttons",
          "options": [
            {
              "label": "Buttons",
              "value": "buttons"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "select",
          "id": "sliders_nav",
          "label": "Slider Navigation - Mobile",
          "default": "scrollbar",
          "options": [
            {
              "label": "Scrollbar",
              "value": "scrollbar"
            },
            {
              "label": "Buttons",
              "value": "buttons"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "select",
          "id": "buttons_position",
          "label": "Navigation arrows Position",
          "default": "top",
          "options": [
            {
              "label": "Top",
              "value": "top"
            },
            {
              "label": "Bottom",
              "value": "bottom"
            }
          ]
        },
        {
          "type": "header",
          "content": "Arrow settings"
        },
        {
          "type": "range",
          "id": "arrow_size",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size",
          "default": 48
        },
        {
          "type": "range",
          "id": "arrow_size_mobile",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size - mobile",
          "default": 48
        },
        {
          "type": "range",
          "id": "arrow_icon_size",
          "min": 5,
          "max": 15,
          "step": 1,
          "unit": "px",
          "label": "Icon size",
          "default": 8
        },
        {
          "type": "range",
          "id": "arrow_icon_size_mobile",
          "min": 5,
          "max": 15,
          "step": 1,
          "unit": "px",
          "label": "Icon size - mobile",
          "default": 8
        },
        {
          "type": "range",
          "id": "arrow_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Border thickness",
          "default": 0
        },
        {
          "type": "range",
          "id": "arrow_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Roundness",
          "default": 100
        },
        {
          "type": "select",
          "id": "arrow_hover_effect",
          "label": "Hover effect",
          "default": "color",
          "options": [
            {
              "label": "Change color",
              "value": "color"
            },
            {
              "label": "Change size",
              "value": "scale"
            },
            {
              "label": "Change arrow",
              "value": "arrow"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "header",
          "content": "Scrollbar Settings"
        },
        {
          "type": "range",
          "id": "scrollbar_mt",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Scrolbar Margin top",
          "default": 20
        },
		{
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 20,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Image Size",
          "default": 136
        },
        {
          "type": "range",
          "id": "icon_size_mobile",
          "min": 20,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Image Size - Mobile",
          "default": 136
        },
        {
          "type": "checkbox",
          "id": "hover_effect",
          "label": "Hover effect",
          "default": true
        },
        {
          "type":"checkbox",
          "id":"square_image",
          "label":"Square image",
          "default":false
        },
        {
          "type": "header",
          "content": "Text"
        },
		{
          "type": "range",
          "id": "text_size",
          "min": 8,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Size",
          "default": 12
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 8,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Size - Mobile",
          "default": 12
        },
        {
          "type": "checkbox",
          "id": "heading_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Font family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "text_mt",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Text Margin top",
          "default": 10
        },
        {
          "type": "header",
          "content": "Border"
        },
        {
          "type": "range",
          "id": "border_size",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Thickness",
          "default": 2
        },
        {
          "type": "header",
          "content": "Item Colors"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Heading bubble Color",
          "default": "#121212"
        },
        {
          "type": "header",
          "content": "Arrow colors"
        },
        {
          "type": "color",
          "label": "Icon color",
          "id": "arrow_color",
          "default": "#696660"
        },
        {
          "type": "color",
          "label": "Icon hover color",
          "id": "arrow_hover_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Background color",
          "id": "arrow_bg_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Background hover color",
          "id": "arrow_bg_hover_color",
          "default": "#696660"
        },
        {
          "type": "color",
          "label": "Border color",
          "id": "arrow_border_color",
          "default": "#696660"
        },
        {
          "type": "color",
          "label": "Border hover color",
          "id": "arrow_border_hover_color",
          "default": "#696660"
        },
        {
          "type": "header",
          "content": "Scrollbar Colors"
        },
        {
          "type": "color",
          "label": "Scrollbar Background",
          "id": "scrollbar_bg",
          "default": "#EFEFEF"
        },
        {
          "type": "color",
          "label": "Scrollbar Drag Background",
          "id": "scrollbar_drag_bg",
          "default": "#D7D7D7"
        },
		{
          "type": "header",
          "content": "Section colors"
        },
        {
          "type": "color",
          "id": "heading_section_color",
          "label": "Heading Section Color",
          "default": "#121212"
        },
	    {
		  "type": "color",
		  "label": "Section background color",
		  "id": "background-color",
		  "default": "#ffffff"
		},
       {
          "type": "color",
          "id": "ring_color",
          "label": "Image Border Color",
          "default": "#121212"
        },
        {
          "type": "color_background",
          "id": "background_gradient",
          "label": "Image Border Gradient",
          "info":"Remove gradient to use solid color"
        },
        {
          "type": "color",
          "label": "Border",
          "id": "border_color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Section margin (outside)"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Margin top",
          "default": 20
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Margin bottom",
          "default": 20
        },
        {
          "type": "header",
          "content": "Section padding"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding bottom",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_horizontal",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "rem",
          "label": "Padding sides",
          "default": 5
        },
        {
          "type": "range",
          "id": "padding_horizontal_mobile",
          "min": 0,
          "max": 15,
          "step": 0.5,
          "unit": "rem",
          "label": "Padding sides mobile",
          "default": 1.5
        },
        {
          "type": "header",
          "content": "Section Settings"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full Width"
        },
        {
          "type": "range",
          "id": "content_width",
          "min": 0,
          "max": 400,
          "step": 10,
          "unit": "rem",
          "label": "Section content width",
          "default": 120
        },
        {
          "type": "range",
          "id": "border_thickness",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Border thickness",
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "lazy",
          "label": "Lazy load",
          "info": "Lazy load images for speed optimisation",
          "default": true
        }
	],
	 "blocks": [
        {
          "type": "Image",
          "name": "Circle item",
          "settings": [
            {
              "type": "image_picker",
              "id": "bubble_img",
              "label": "Choose image"
            },
			{
              "type": "text",
              "id": "bubble_text",
              "label": "Text",
			  "default":"bubble"
            },
			{
              "type": "url",
              "id": "bubble_link",
              "label": "Link"
            }
          ]
        }
    ],
 	"presets": [
      {
        "name": "SS - Circle Menu Pro",
		    "blocks": [
        {
          "type": "Image"
        },
        {
          "type": "Image"
        },
        {
          "type": "Image"
        },
		{
          "type": "Image"
        },
		{   
          "type": "Image"
        },
        {   
          "type": "Image"
        },
        {   
          "type": "Image"
        }
        ]
      }
	]
  }
{% endschema %}