{% comment %}
---------------------------------------------------------
Copyright © 2025 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius
  assign background_style = section.settings.background_style
  
  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile 

  assign slide_height = section.settings.slide_height
  assign slide_height_mobile = section.settings.slide_height_mobile
  assign slide_padding_horizontal = section.settings.slide_padding_horizontal
  assign slide_padding_horizontal_mobile = section.settings.slide_padding_horizontal_mobile
  assign slide_padding_vertical = section.settings.slide_padding_vertical
  assign slide_padding_vertical_mobile = section.settings.slide_padding_vertical_mobile
  assign slide_radius = section.settings.slide_radius  
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color
  assign slide_align = section.settings.slide_align
  assign slide_align_mobile = section.settings.slide_align_mobile
  assign slide_clickable = section.settings.slide_clickable

  assign slide_horizontal_align = ""
  if slide_align == "center"
    assign slide_horizontal_align = "center"
  elsif slide_align == "right"
    assign slide_horizontal_align = "end"
  else
    assign slide_horizontal_align = "start"
  endif

  assign slide_horizontal_align_mobile = ""
  if slide_align_mobile == "center"
    assign slide_horizontal_align_mobile = "center"
  elsif slide_align_mobile == "right"
    assign slide_horizontal_align_mobile = "end"
  else
    assign slide_horizontal_align_mobile = "start"
  endif

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign button_text = section.settings.button_text
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign new_tab = section.settings.new_tab
-%}

{%- style -%}
  {{ title_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  .custom-bottom-title {
    margin-top: 20px;
    font-size: 24px;
    color: #102B26;
  }
  .main-heading-featured-products h2 {
    text-align: center;
    color: #102B26;
    font-size: 56px;
  }
  .custom-bottom-title p {
    line-height: normal;
  }
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }

  .slider-slider-{{ section.id }} {
    display: flex !important;
    align-items: end !important;
    position: relative !important;
    min-height: {{ slide_height_mobile }}px !important;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }
  .slider-slider-{{ section.id }} img {
    border-radius: 4px;
  }
  .slider-slider-{{ section.id }} .swiper-wrapper {
    align-items: end !important;
  }

 /* .slider-slide-{{ section.id }} {
    height: {{ slide_height_mobile }}px !important;
    position: relative !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    padding: 30px 0px; 
    transition: height 0.7s ease 0s !important;
    border: {{ slide_border_thickness }}px solid {{ slide_border_color }} !important;
    border-radius: {{ slide_radius }}px !important;
  }

  .slider-slide-{{ section.id }}.swiper-slide-active {
    height: {{ slide_height_mobile }}px !important;
    transition: height 0.7s ease 0s !important;
  }

   .slider-slide-{{ section.id }} > img,
  .slider-slide-{{ section.id }} > svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  } */

  .slider-slide-{{ section.id }} > svg {
    background-color: #AFAFAF;
  }

  .slider-slide-content-{{ section.id }} {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: {{ slide_horizontal_align_mobile }};
  }

  .slider-slide-{{ section.id }}.swiper-slide-active .slider-slide-content-{{ section.id }} {
    opacity: 1;
  }

  .slider-slide-content-top-{{ section.id }} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    justify-content: {{ slide_horizontal_align_mobile }};
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: {{ slide_padding_vertical_mobile }}px {{ slide_padding_horizontal_mobile }}px;
  }

  .slider-slide-content-left-{{ section.id }} {
    flex: 1 1 auto;
  }

  .slider-slide-title-{{ section.id }} {    
    margin: 0;
    text-align: {{ slide_align_mobile }};
    margin-top: {{ title_mt_mobile }}px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
  }

  .slider-btn-prev-{{ section.id }},
  .slider-btn-next-{{ section.id }} {
    position: absolute;
    top: 60px;
    z-index: 2;
    display: flex;
    flex-shrink: 0;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .slider-btn-prev-{{ section.id }} {
    left: 5%;
  }

  .slider-btn-next-{{ section.id }} {
    right: 5%;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon,
  .slider-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before,
  .slider-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:after,
  .slider-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .slider-btn-prev-{{ section.id }} span,
  .slider-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-disabled,
  .slider-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-lock,
  .slider-btn-next-{{ section.id }}.swiper-button-lock {
    opacity: 0;
    pointer-events: none;
  }

   .slider-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 10px;
    width: 100%;
    margin: 0;
    margin-top: 16px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    min-width: max-content;
    margin-left: {{ slide_padding_horizontal_mobile }}px;
    margin-right: {{ slide_padding_horizontal_mobile }}px;
  }

  .slider-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .slider-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .slider-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .slider-slider-{{ section.id }} {
      min-height: {{ slide_height }}px !important;
      margin-left: -{{ padding_horizontal }}rem !important;
      margin-right: -{{ padding_horizontal }}rem !important;
      padding-left: {{ padding_horizontal }}rem !important;
      padding-right: {{ padding_horizontal }}rem !important;
    }

    .slider-slide-{{ section.id }} {
      height: {{ slide_height }}px !important;    
    }

    .slider-slide-content-{{ section.id }} {    
      align-items: {{ slide_horizontal_align }};
    }

    .slider-slide-content-top-{{ section.id }} {   
      justify-content: {{ slide_horizontal_align }};
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px;
    }

    .slider-slide-title-{{ section.id }} {  
      text-align: {{ slide_align }};  
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
    }

    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:before,
    .slider-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:after,
    .slider-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .slider-button-{{ section.id }} {
      margin-top: 16px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
      margin-left: {{ slide_padding_horizontal }}px;
      margin-right: {{ slide_padding_horizontal }}px;
    }    
  }
  @media only screen and (max-width: 767px) {
    .main-heading-featured-products h2 {
      text-align: center;
      color: #102B26;
      font-size: 32px;
    }
  }
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .slider-slide-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .slider-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .slider-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .slider-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .slider-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .slider-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .slider-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon,
    .slider-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }}:hover,
      .slider-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .slider-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .slider-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }},
      .slider-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }},
      .slider-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if slider_view == 5 %}
  <style>   
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }} {
        left: 4px;
        top: 50%;
      }

      .slider-btn-next-{{ section.id }} {
        right: 4px;
        top: 50%;
      }
    }    
  </style>
{% elsif slider_view == 4 %}
  <style>   
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }} {
                left: 1%;
        align-items: center;
        justify-content: center;
        top: 33%;
      }

      .slider-btn-next-{{ section.id }} {
        right: 1%;
      
        align-items: center;
        justify-content: center;
        top: 33%;
      }
    } 
   
  </style>
{% elsif slider_view == 3 %}
  <style>    
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }} {
        left: 29.5%
      }

      .slider-btn-next-{{ section.id }} {
        right: 29.5%
      }
    }    
  </style>
{% elsif slider_view == 2 %}
  <style>   
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }} {
        left: 21.5%
      }

      .slider-btn-next-{{ section.id }} {
        right: 21.5%
      }
    }    
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .slider-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;    
  }

  .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }} {
    width: 100%;
  }

  .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }}:not(:first-child) {
    margin-left: 24px;
  } 

  @media(min-width: 1024px) {
    .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }}:not(:first-child) {
      margin-left: 24px;
    } 

    .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }} {
      width: calc((100% / {{ slider_view }}) - 24px);
    }
  }
  @media only screen and (max-width: 767px) {
    .custom-bottom-title p {
      font-size: 14px;
    }
  }
</style>


<div class="section-{{ section.id }} slider-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% else %} style="background-image: {{ background_gradient }};"{% endif %}>
  <div class="main-heading-featured-products">
    <h2>
      {{ section.settings.custom-heading }}
    </h2>
  </div>
    <div class="section-{{ section.id }}-settings">
      <div class="slider-slider-{{ section.id }} preview swiper">
        <div class="swiper-wrapper">
          {% for item in (1..3) %}
            {% for block in section.blocks %}              
              <{% if slide_clickable %}{% if block.settings.url != blank %}a href="{{ block.settings.url }}" {% if new_tab %}target="_blank"{% endif %} {% else %}div{% endif %}{% else %}div{% endif %} class="slider-slide-{{ section.id }} swiper-slide" style="height: auto !important;">   
                {% if block.settings.image != blank %}                          
                  {%- liquid 
                    assign sizes = "(max-width: 749px) calc(100vw - " | append: padding_horizontal_mobile | append: "rem), "
                    assign sizes = sizes | append: "(max-width: 1023px) calc((100vw - " | append: padding_horizontal | append: "rem*2)/" | append: slider_view_mobile | append: " - " | append: slider_gap_mobile | append: "px), "
                    assign sizes = sizes | append: "calc((100vw - " | append: padding_horizontal | append: "rem*2)/" | append: slider_view | append: " - " | append: slider_gap | append: "px)"
                  -%}
                  
                  {{ block.settings.image | image_url: width: 1500 | image_tag:
                    loading: loading_attribute,
                    sizes: sizes,
                    alt: block.settings.image.alt,
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000'
                  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}   
  
                <div class="slider-slide-content-{{ section.id }}">
                  {% if button_text != blank %}
                    <{% unless slide_clickable %}{% if block.settings.url != blank %}a href="{{ block.settings.url }}" {% if new_tab %}target="_blank"{% endif %} {% else %}div{% endif %}{% else %}div{% endunless %} class="slider-button-{{ section.id }}">
                      <p class="slider-button-inner-{{ section.id }}">
                      {{ button_text }}
                      {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                          <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                            <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                          </svg>
                        {% endif %}
                      </p>
                    </{% unless slide_clickable %}{% if block.settings.url != blank %}a{% else %}div{% endif %}{% else %}div{% endunless %}>
                  {% endif %}
                </div>
                <div class="custom-bottom-title">
                    <p>{{ block.settings.custom_title }}</p>
                </div>
              </{% if slide_clickable %}{% if block.settings.url != blank %}a{% else %}div{% endif %}{% else %}div{% endif %}>
            {% endfor %}
          {% endfor %}
        </div>
        <button class="slider-btn-prev-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
        <button class="slider-btn-next-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
      </div>  
    
   
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  function initSlider12() {
    document.querySelector('.slider-slider-{{ section.id }}').classList.remove('preview');    
    const slider = new Swiper(".slider-slider-{{ section.id }}", {
      speed: 500,
      centeredSlides: true,
      loop: true,
      navigation: {
        nextEl: '.slider-btn-next-{{ section.id }}',
        prevEl: '.slider-btn-prev-{{ section.id }}',
      },
      breakpoints: {
        320: {
          spaceBetween: 24,
          slidesPerView: {{ slider_view_mobile }}
        },
        768: {
          spaceBetween: 24,
          slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}       
        },
        1024: {
          spaceBetween: 32,
          slidesPerView: {{ slider_view }}          
        }
      }
    });
  }

  document.addEventListener('DOMContentLoaded', initSlider12);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initSlider12);
    document.addEventListener('shopify:section:load', initSlider12);
  }
</script>

{% schema %}
  {
    "name": "SS - Slider #12",
    "settings": [
      {
        "type" : "text",
        "id" : "custom-heading",
        "label" : "Main Heading"
      },
      {
        "type": "paragraph",
        "content": "⚠️ Save settings to view updates"
      },   
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Slides to show",
        "default": 4
      },      
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 2,
        "step": 0.1,
        "label": "Slides to show - mobile",
        "default": 1.2
      }, 
      {
        "type": "header",
        "content": "Slide"
      },
      {
        "type": "range",
        "id": "slide_height",
        "min": 200,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Height",
        "default": 420
      }, 
      {
        "type": "range",
        "id": "slide_height_mobile",
        "min": 200,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Height - mobile",
        "default": 320
      }, 
      {
        "type": "range",
        "id": "slide_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 30
      },   
      {
        "type": "range",
        "id": "slide_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "slide_padding_advanced",
        "label": "Advanced padding settings",
        "default": false
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 20,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 16,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 20,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },  
      {
        "type": "text_alignment",
        "id": "slide_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "slide_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },  
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.title_custom }}"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 22
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button label",
        "default": "Shop now",
        "info": "Leave the label blank to hide the button."
      },
      {
        "type": "checkbox",
        "id": "new_tab",
        "label": "Open link in new tab"
      },
      {
        "type": "checkbox",
        "id": "slide_clickable",
        "label": "Make the entire slide clickable",
        "default": false
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Style",
        "default": "non_outline",
        "options": [
          {
            "label": "Link",
            "value": "link"
          },
          {
            "label": "Non-outline",
            "value": "non_outline"
          },
          {
            "label": "Non-outline & arrow",
            "value": "non_outline_arrow"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "Outline & arrow",
            "value": "outline_arrow"
          }
        ]
      },
      
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.button_custom }}"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 24,
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },
      {
        "type": "range",
        "id": "button_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 24,
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 16,
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16,
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },     
      {
        "type": "range",
        "id": "button_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100,
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },
      {
        "type": "range",
        "id": "button_border_thickness",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1,
        "visible_if": "{{ section.settings.button_style == 'outline' or section.settings.button_style == 'outline_arrow' }}"
      },
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 50,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 50,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 10,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 10,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 6,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slide colors"
      },
      {
        "type": "color",
        "label": "Title",
        "id": "title_color",
        "default": "#FFFFFF"
      },     
      {
        "type": "color",
        "label": "Border",
        "id": "slide_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.slide_border_thickness >= 1 }}"
      },
      {
        "type": "header",
        "content": "Button colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "button_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Text hover",
        "id": "button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "button_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "button_bg_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.button_style != 'link' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "button_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.button_style == 'outline' or section.settings.button_style == 'outline_arrow' }}"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "button_border_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.button_style == 'outline' or section.settings.button_style == 'outline_arrow' }}"
      },
      {
        "type": "header",
        "content": "Arrow colors",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },    
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "select",
        "id": "background_style",
        "label": "Background style",
        "default": "solid",
        "options": [
          {
            "label": "Solid",
            "value": "solid"
          },
          {
            "label": "Gradient",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background",
        "id": "background_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.background_style == 'solid' }}"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Gradient",
        "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
        "visible_if": "{{ section.settings.background_style == 'gradient' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Content width",
        "default": 1200,
        "visible_if": "{{ section.settings.full_width == false }}"
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [          
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },           
          {
            "type": "text",
            "id": "title", 
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "custom_title",
            "label": "Collection Title"
        }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Slider #12",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}